 <div id="divwrap">
        <h3 id="divtitle">CHOOSE A PROGRAM</h3>
        <div class="divsteps">
            <a id="a3" title="Step 3 - Finalize your plan" href="javascript:void(0);"
                class="htbutton" tabindex="0" style="">
                <div class="box">
                    <div class="topCorners">
                        <div class="leftCorner"></div>
                        <div class="rightCorner"></div>
                        <div class="extension"></div>
                    </div>
                    <div class="bottomCorners">
                        <div class="leftCorner"></div>
                        <div class="rightCorner"></div>
                        <div class="extension"></div>
                    </div>
                    <div class="leftExtension"></div>
                    <div class="rightExtension"></div>
                    <div class="boxContent">
                        <div class="padding">STEP 3 - Finalize your plan</div>
                    </div>
                </div>
            </a>

            <a id="active1" title="Step 2 - Choose a program" href="javascript:void(0);"
                class="htbutton" tabindex="0" style="">
                <div class="box">
                    <div class="topCorners">
                        <div class="leftCorner"></div>
                        <div class="rightCorner"></div>
                        <div class="extension"></div>
                    </div>
                    <div class="bottomCorners">
                        <div class="leftCorner"></div>
                        <div class="rightCorner"></div>
                        <div class="extension"></div>
                    </div>
                    <div class="leftExtension"></div>
                    <div class="rightExtension"></div>
                    <div class="boxContent">
                        <div class="padding">STEP 2 - Choose a program</div>
                    </div>
                </div>
            </a>
                    
            <a id="a2" title="Step 1 - Create a goal" href="javascript:void(0);"
                class="htbutton" tabindex="0" style="">
                <div class="box">
                    <div class="topCorners">
                        <div class="leftCorner"></div>
                        <div class="rightCorner"></div>
                        <div class="extension"></div>
                    </div>
                    <div class="bottomCorners">
                        <div class="leftCorner"></div>
                        <div class="rightCorner"></div>
                        <div class="extension"></div>
                    </div>
                    <div class="leftExtension"></div>
                    <div class="rightExtension"></div>
                    <div class="boxContent">
                        <div class="padding">
                            <u>STEP 1 - Create a goal</u>
                        </div>
                    </div>
                </div>
            </a>

            </div>
        </div>
        

        <div  id="divwrap">
        <div id="divStepDetails">
            Great, so you want to lose weight! We have some great programs available to help you do just that!
            <br />
            You can create your own plan to accomplish your goal, or you can start with an existing plan. Select which direction you would like to go...
            </div>
            </div>
        <br />
            <br />
            <div id="divBlock" >
              <div  id="divwrap">
            <input type="radio" name="grp1" value="definePlan" />Enter and define my own plan...
           <br />
            <br />
            <div class="divident">Give your plan a name:</div>

            <div class="divident">
                <input size="20"/>

                <a id="a4" onclick="showPlans();" title="Enter Plan Details" href="javascript:void(0);"
                    class="primaryButtonDark htbutton" tabindex="0" style="">
                    <div class="box">
                        <div class="topCorners">
                            <div class="leftCorner"></div>
                            <div class="rightCorner"></div>
                            <div class="extension"></div>
                        </div>
                        <div class="bottomCorners">
                            <div class="leftCorner"></div>
                            <div class="rightCorner"></div>
                            <div class="extension"></div>
                        </div>
                        <div class="leftExtension"></div>
                        <div class="rightExtension"></div>
                        <div class="boxContent">
                            <div class="padding">Enter Plan Details</div>
                        </div>
                    </div>

                </a>

            </div>

            <br />
            <br />
            <input type="radio" name="grp1" value="choosePlan" />Choose from our preexisting programs to lose weight!
           <br />
            <br />
                

			<div id="plan-entry">
				<ul id="plan-list">
					<li id="plan">
						<div id="enter-plan">
							<div id="add-plan">
								<img src="images/plan_pic.jpg" height="75px" width="75px" />
                                Larry North
							</div>
							<div id="plan-info">
                            Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This program uses a delicious low carb diet combined with weight training to offer you the ultimate fat burning program.
                            </div>
								<div id="plan-recommendation">12 other Liveo users recommended this.</div>
							
						</div>
					</li>

					<li id="plan">
						<div id="enter-plan">
							<div id="add-plan">
								<img src="images/plan_pic.jpg" height="75px" width="75px" />
                                Larry North
							</div>
							<div id="plan-info">
                            Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This program uses a delicious low carb diet combined with weight training to offer you the ultimate fat burning program.
                          
							</div>
					<div id="plan-recommendation">12 other Liveo users recommended this.</div>
                    	</div>
					</li>
				</ul>
			</div>
                </div>
    
   
        </div>

        <a id="a7" onclick="back();" title="Go Back" href="javascript:void(0);"
            class="primaryButton htbutton" tabindex="0" style="">
            <div class="box">
                <div class="topCorners">
                    <div class="leftCorner"></div>
                    <div class="rightCorner"></div>
                    <div class="extension"></div>
                </div>
                <div class="bottomCorners">
                    <div class="leftCorner"></div>
                    <div class="rightCorner"></div>
                    <div class="extension"></div>
                </div>
                <div class="leftExtension"></div>
                <div class="rightExtension"></div>
                <div class="boxContent">
                    <div class="padding">GO BACK</div>
                </div>
            </div>
        </a>

<a id="a5" onclick="cont();" title="Continue" href="/lhtfinalizeplan"
            class="primaryButtonGreen htbutton" tabindex="0" style="">
            <div class="box">
                <div class="topCorners">
                    <div class="leftCorner"></div>
                    <div class="rightCorner"></div>
                    <div class="extension"></div>
                </div>
                <div class="bottomCorners">
                    <div class="leftCorner"></div>
                    <div class="rightCorner"></div>
                    <div class="extension"></div>
                </div>
                <div class="leftExtension"></div>
                <div class="rightExtension"></div>
                <div class="boxContent">
                    <div class="padding">CONTINUE</div>
                </div>
            </div>
        </a>

        <a id="a6" title="Cancel" href="javascript:void(0);"
            class="primaryButton htbutton" tabindex="0" style="">
            <div class="box">
                <div class="topCorners">
                    <div class="leftCorner"></div>
                    <div class="rightCorner"></div>
                    <div class="extension"></div>
                </div>
                <div class="bottomCorners">
                    <div class="leftCorner"></div>
                    <div class="rightCorner"></div>
                    <div class="extension"></div>
                </div>
                <div class="leftExtension"></div>
                <div class="rightExtension"></div>
                <div class="boxContent">
                    <div class="padding">CANCEL</div>
                </div>
            </div>
        </a>
<div id="cboth"></div>