 <div id="divwrap">
        <h3 id="divtitle">FINALIZE PLAN</h3>

        <div class="divsteps">
            <a id="active1" title="Step 3 - Finalize your plan" href="javascript:void(0);"
                class="htbutton" tabindex="0" style="">
                <div class="box">
                    <div class="topCorners">
                        <div class="leftCorner"></div>
                        <div class="rightCorner"></div>
                        <div class="extension"></div>
                    </div>
                    <div class="bottomCorners">
                        <div class="leftCorner"></div>
                        <div class="rightCorner"></div>
                        <div class="extension"></div>
                    </div>
                    <div class="leftExtension"></div>
                    <div class="rightExtension"></div>
                    <div class="boxContent">
                        <div class="padding">STEP 3 - Finalize your plan</div>
                    </div>
                </div>
            </a>

            <a id="a2" title="Step 2 - Choose a program" href="javascript:void(0);"
                class="htbutton" tabindex="0" style="">
                <div class="box">
                    <div class="topCorners">
                        <div class="leftCorner"></div>
                        <div class="rightCorner"></div>
                        <div class="extension"></div>
                    </div>
                    <div class="bottomCorners">
                        <div class="leftCorner"></div>
                        <div class="rightCorner"></div>
                        <div class="extension"></div>
                    </div>
                    <div class="leftExtension"></div>
                    <div class="rightExtension"></div>
                    <div class="boxContent">
                        <div class="padding">STEP 2 - Choose a program</div>
                    </div>
                </div>
            </a>
                    
            <a id="a3" title="Step 1 - Create a goal" href="javascript:void(0);"
                class="htbutton" tabindex="0" style="">
                <div class="box">
                    <div class="topCorners">
                        <div class="leftCorner"></div>
                        <div class="rightCorner"></div>
                        <div class="extension"></div>
                    </div>
                    <div class="bottomCorners">
                        <div class="leftCorner"></div>
                        <div class="rightCorner"></div>
                        <div class="extension"></div>
                    </div>
                    <div class="leftExtension"></div>
                    <div class="rightExtension"></div>
                    <div class="boxContent">
                        <div class="padding">
                            <u>STEP 1 - Create a goal</u>
                        </div>
                    </div>
                </div>
            </a>

            </div>

             <div id="divStepDetails">
             <div id="divStepDetailslft">
       "I WANT TO LOSE 25LBS BY CHRISTMAS"<br />
               Plan sourced from Larry North Ultimate Eating adventure (8/26/12)</div>

        <a id="a7" onclick="back();" title="Go Back" href="javascript:void(0);"
            class="primaryButton htbutton" tabindex="0" style="">
            <div class="box">
                <div class="topCorners">
                    <div class="leftCorner"></div>
                    <div class="rightCorner"></div>
                    <div class="extension"></div>
                </div>
                <div class="bottomCorners">
                    <div class="leftCorner"></div>
                    <div class="rightCorner"></div>
                    <div class="extension"></div>
                </div>
                <div class="leftExtension"></div>
                <div class="rightExtension"></div>
                <div class="boxContent">
                    <div class="padding">Go Back</div>
                </div>
            </div>
        </a>

        <a id="a5" onclick="cont();" title="Continue" href="javascript:void(0);"
            class="primaryButtonGreen htbutton" tabindex="0" style="">
            <div class="box">
                <div class="topCorners">
                    <div class="leftCorner"></div>
                    <div class="rightCorner"></div>
                    <div class="extension"></div>
                </div>
                <div class="bottomCorners">
                    <div class="leftCorner"></div>
                    <div class="rightCorner"></div>
                    <div class="extension"></div>
                </div>
                <div class="leftExtension"></div>
                <div class="rightExtension"></div>
                <div class="boxContent">
                    <div class="padding">Continue</div>
                </div>
            </div>
        </a>

        <a id="a6" title="Cancel" href="javascript:void(0);"
            class="primaryButton htbutton" tabindex="0" style="">
            <div class="box">
                <div class="topCorners">
                    <div class="leftCorner"></div>
                    <div class="rightCorner"></div>
                    <div class="extension"></div>
                </div>
                <div class="bottomCorners">
                    <div class="leftCorner"></div>
                    <div class="rightCorner"></div>
                    <div class="extension"></div>
                </div>
                <div class="leftExtension"></div>
                <div class="rightExtension"></div>
                <div class="boxContent">
                    <div class="padding">Cancel</div>
                </div>
            </div>
        </a>
        </div>
        </div>
        </div>
  

             <div id="divStepDetails">
             <div id="divStepDetailslft">
       "I WANT TO LOSE 25LBS BY CHRISTMAS"<br />
               Plan sourced from Larry North Ultimate Eating adventure (8/26/12)</div>

        <a id="a7" onclick="back();" title="Go Back" href="javascript:void(0);"
            class="primaryButton htbutton" tabindex="0" style="">
            <div class="box">
                <div class="topCorners">
                    <div class="leftCorner"></div>
                    <div class="rightCorner"></div>
                    <div class="extension"></div>
                </div>
                <div class="bottomCorners">
                    <div class="leftCorner"></div>
                    <div class="rightCorner"></div>
                    <div class="extension"></div>
                </div>
                <div class="leftExtension"></div>
                <div class="rightExtension"></div>
                <div class="boxContent">
                    <div class="padding">Go Back</div>
                </div>
            </div>
        </a>

        <a id="a5" onclick="cont();" title="Continue" href="javascript:void(0);"
            class="primaryButtonGreen htbutton" tabindex="0" style="">
            <div class="box">
                <div class="topCorners">
                    <div class="leftCorner"></div>
                    <div class="rightCorner"></div>
                    <div class="extension"></div>
                </div>
                <div class="bottomCorners">
                    <div class="leftCorner"></div>
                    <div class="rightCorner"></div>
                    <div class="extension"></div>
                </div>
                <div class="leftExtension"></div>
                <div class="rightExtension"></div>
                <div class="boxContent">
                    <div class="padding">Continue</div>
                </div>
            </div>
        </a>

        <a id="a6" title="Cancel" href="javascript:void(0);"
            class="primaryButton htbutton" tabindex="0" style="">
            <div class="box">
                <div class="topCorners">
                    <div class="leftCorner"></div>
                    <div class="rightCorner"></div>
                    <div class="extension"></div>
                </div>
                <div class="bottomCorners">
                    <div class="leftCorner"></div>
                    <div class="rightCorner"></div>
                    <div class="extension"></div>
                </div>
                <div class="leftExtension"></div>
                <div class="rightExtension"></div>
                <div class="boxContent">
                    <div class="padding">Cancel</div>
                </div>
            </div>
        </a>
        </div>
        </div>
        </div>
  
  
    

  <div id="divBlock" class="clearFloat">
  <div id="divBlockHeader"></div>
                <div  id="divwrap" style="margin-top:-39px">
        <div height="340px">
                  <div id="edit-goals-day">
                <div id="day-info">
                DAY 1
                <input type="submit" value="Clone Day" />
                </div>
               <div id="day-exercise">
                Exercise
                <input type="submit" value="ADD EXERCISE" />



                </div>
                <div id="day-nutrition" class="margintenlft">
                Nutrition
                <input type="submit" value="ADD MEAL" />
                </div>


                <div id="entry-list">
                <div id="day-entries">
                <div id="entry-list-details">
                Pushups (100 cal)<br />
                <div id="entry-list-info">View 3 sets of push ups. To view proper form, watch this <a href="">instructional video</a>.
                </div>
                </div>
                <input type="submit" value="Edit" /><input type="submit" value="Delete" />
                </div>
                <div id="day-entries">
                <div id="entry-list-details">
                Pushups (100 cal)<br />
                <div id="entry-list-info">View 3 sets of push ups. To view proper form, watch this <a href="">instructional video</a>.
                </div>
                </div>
                <input type="submit" value="Edit" /><input type="submit" value="Delete" />
                </div>
                <div id="day-entries">
                <div id="entry-list-details">
                Pushups (100 cal)<br />
                <div id="entry-list-info">View 3 sets of push ups. To view proper form, watch this <a href="">instructional video</a>.
                </div>
                </div>
                <input type="submit" value="Edit" /><input type="submit" value="Delete" />
                </div>
                </div>

                

                <div id="entry-list" class="margintenlft">
                <div id="day-entries">
                <div id="entry-list-details">
                Breakfast (100 cal)<br />
                <div id="entry-list-info">View 3 sets of push ups. To view proper form, watch this <a href="">instructional video</a>.
                </div>
                </div>
                <input type="submit" value="Edit" /><input type="submit" value="Delete" />
                </div>
                <div id="day-entries">
                <div id="entry-list-details">
                Lunch (100 cal)<br />
                <div id="entry-list-info">View 3 sets of push ups. To view proper form, watch this <a href="">instructional video</a>.
                </div>
                </div>
                <input type="submit" value="Edit" /><input type="submit" value="Delete" />
                </div>
                <div id="day-entries">
                <div id="entry-list-details">
                Dinner (100 cal)<br />
                <div id="entry-list-info">View 3 sets of push ups. To view proper form, watch this <a href="">instructional video</a>.
                </div>
                </div>
                <input type="submit" value="Edit" /><input type="submit" value="Delete" />
                </div>
                </div>


			</div>
                  </div>
    </div>
    </div>

    

    </div>