<div id="divwrap">
<h3 id="divtitle">CREATE A GOAL</h3>
<div class="divsteps">
 <a id="a3" title="Step 3 - Finalize your plan" href="javascript:void(0);"
                class="htbutton" tabindex="0" style="">
                <div class="box">
                    <div class="topCorners">
                        <div class="leftCorner"></div>
                        <div class="rightCorner"></div>
                        <div class="extension"></div>
                    </div>
                    <div class="bottomCorners">
                        <div class="leftCorner"></div>
                        <div class="rightCorner"></div>
                        <div class="extension"></div>
                    </div>
                    <div class="leftExtension"></div>
                    <div class="rightExtension"></div>
                    <div class="boxContent">
                        <div class="padding">STEP 3 - Finalize your plan</div>
                    </div>
                </div>
            </a>

            <a id="a2" title="Step 2 - Choose a program" href="javascript:void(0);"
                class="htbutton" tabindex="0" style="">
                <div class="box">
                    <div class="topCorners">
                        <div class="leftCorner"></div>
                        <div class="rightCorner"></div>
                        <div class="extension"></div>
                    </div>
                    <div class="bottomCorners">
                        <div class="leftCorner"></div>
                        <div class="rightCorner"></div>
                        <div class="extension"></div>
                    </div>
                    <div class="leftExtension"></div>
                    <div class="rightExtension"></div>
                    <div class="boxContent">
                        <div class="padding">STEP 2 - Choose a program</div>
                    </div>
                </div>
            </a>
                    
            <a id="active1" title="Step 1 - Create a goal" href="javascript:void(0);"
                class="htbutton" tabindex="0" style="">
                <div class="box">
                    <div class="topCorners">
                        <div class="leftCorner"></div>
                        <div class="rightCorner"></div>
                        <div class="extension"></div>
                    </div>
                    <div class="bottomCorners">
                        <div class="leftCorner"></div>
                        <div class="rightCorner"></div>
                        <div class="extension"></div>
                    </div>
                    <div class="leftExtension"></div>
                    <div class="rightExtension"></div>
                    <div class="boxContent">
                        <div class="padding">
                            <u>STEP 1 - Create a goal</u>
                        </div>
                    </div>
                </div>
            </a>

</div>
</div>


<div id="divwrap">
<div id="divStepDetails">Success begins with defining a goal. Once you have defined a goal, you will have the opporunity to plan how you will accomplish it. <br /> Give us a date for when you want to have your goal achieved and we will customize a plan for you!</div>
</div>
<p></p>
<div id="divBlock">
<div id="divwrap">
<div class="divlabel">By this date:</div>
<div class="divcontent inl"><input type="date" id="goaldate" /></div>
<br /> <br />
<div class="divlabel">I want to:</div>
<div class="divcontent inl"><input type="radio" name="grp1" value="goalType" />Start with a type of goal...</div>
<br /> <br />
<div class="divlabel"></div>
<div class="divsubcontent"><select> <option></option> <option>Lose Weight</option> <option>Endurance Training</option> </select></div>
<br />
<div class="divlabel"></div>
<div class="divcontent inl"><input type="radio" name="grp1" value="goalCustom" />Create your own goal...</div>
<br /> <br />
<div class="divlabel"></div>
<div class="divsubcontent"><input size="60" id="txtGoalCustom" value=" I want to ..." type="text" /></div>
</div>
</div>
<p></p>
<div id="divwrap">

  <a id="a5" onclick="cont();" title="Continue" href="/lhtchooseprogram"
            class="primaryButtonGreen htbutton" tabindex="0" style="">
            <div class="box">
                <div class="topCorners">
                    <div class="leftCorner"></div>
                    <div class="rightCorner"></div>
                    <div class="extension"></div>
                </div>
                <div class="bottomCorners">
                    <div class="leftCorner"></div>
                    <div class="rightCorner"></div>
                    <div class="extension"></div>
                </div>
                <div class="leftExtension"></div>
                <div class="rightExtension"></div>
                <div class="boxContent">
                    <div class="padding">CONTINUE</div>
                </div>
            </div>
        </a>

        <a id="a6" title="Cancel" href="javascript:void(0);"
            class="primaryButton htbutton" tabindex="0" style="">
            <div class="box">
                <div class="topCorners">
                    <div class="leftCorner"></div>
                    <div class="rightCorner"></div>
                    <div class="extension"></div>
                </div>
                <div class="bottomCorners">
                    <div class="leftCorner"></div>
                    <div class="rightCorner"></div>
                    <div class="extension"></div>
                </div>
                <div class="leftExtension"></div>
                <div class="rightExtension"></div>
                <div class="boxContent">
                    <div class="padding">CANCEL</div>
                </div>
            </div>
        </a>

<div id="divBlockProgram" style="display: block;"></div>
<div id="divBlockPlan" style="display: block;"></div>
</div>
<div id="cboth"></div>