@{
    ViewBag.Title = "Album";
}

<div class="my-gallery-wrap">
    <div class="my-photos-wrap">
        <span id="my-gallery-header-col">
            <div class="left">AWESOME ALBUM (8)</div>
            <a href="/AlbumName">
                <div id="gallery-link">EDIT ALBUM</div>
            </a>
            <a href="">
                <div id="gallery-link">DELETE ALBUM</div>
            </a>

        </span>
        <a href="">
            <div id="my-gallery-link">
                <a href="/AlbumNew">NEW PICTURE</a>
            </div>
        </a>
    </div>

    <div id="my-group-toplist-first">
        <div><a>
            <img src="../Images/profile-pic.jpg" /></a></div>
    </div>
    <div id="my-group-toplist">
        <img src="../Images/profile-pic.jpg" /></div>
</div>
