@model Liveo.Web.Models.GalleryIndexViewModel
@{
    ViewBag.Title = "AlbumNew";
}

<div id="programPopUpthin">
    <div id="program-form-wrap-lft">
        <div id="program-form-lft">
            <span>ALBUM TITLE:</span><br />
            <input type="text" />
        </div>

    </div>
    <div class="clear"></div>
    <a id="a1" onclick="cont();" title="Continue" href="javascript:void(0);"
        class="primaryButtonGreen button" tabindex="0" style="">
        <div class="box">
            <div class="boxContent">
                <div class="padding">SAVE</div>
            </div>
        </div>
    </a>

    <a id="a5" onclick="cont();" title="Continue" href="javascript:void(0);"
        class="primaryButton button" tabindex="0" style="">
        <div class="box">
            <div class="boxContent">
                <div class="padding">CANCEL</div>
            </div>
        </div>
    </a>

    <div class="clear"></div>
</div>
