@{
    ViewBag.Title = "MediaView";
}

<div id="programPopUpmed">
    <div id="media-view-lft">
        *Slider goes here* *width: 360px height: 480px* *it will automatically vertically align the image/video in this box, john will assist with finding the correct slider*
    </div>
    <div id="media-view-wrap-rt">
        <div id="media-view-rt-first">
            UPLOADED BY: SARAH JONES<br />
            AUGUST 20, 2013
        </div>
        <div id="media-view-rt">
            WORKOUT PICTURES
            <label>Boxing at the gym</label>
        </div>
        <div id="media-view-rt">
            <span>Boxing at the gym today was great, I can’t wait until next work out!!!</span>
        </div>
        <div id="media-view-rt">
            <div class="clear"></div>
        </div>
    </div>
    <br />
    <div id="media-view-rt">
        <a id="a5" onclick="cont();" title="DELETE" href=""
            class="primaryButton button" tabindex="0" style="">
            <div class="box">
                <div class="boxContent">
                    <div class="padding">DELETE</div>
                </div>
            </div>
        </a>

        <a id="a1" onclick="cont();" title="EDIT" href="/MediaEdit"
            class="primaryButtonGreen button" tabindex="0" style="">
            <div class="box">
                <div class="boxContent">
                    <div class="padding">EDIT</div>
                </div>
            </div>
        </a>

    </div>
    <div class="clear"></div>
</div>
