@{
    ViewBag.Title = "MediaBrowse";
}

<div id="programPopUpthin">
    <div id="program-form-wrap-lft">
        <div id="program-form-lft">
            <span>UPLOAD FILE:</span><br />
            <input type="file" />
        </div>

    </div>
    <div class="clear"></div>
    <a id="a1" onclick="cont();" title="CANCEL" href=""
        class="primaryButton button" tabindex="0" style="">
        <div class="box">
            <div class="boxContent">
                <div class="padding">CANCEL</div>
            </div>
        </div>
    </a>

    <a id="a1" onclick="cont();" title="UPLOAD" href="/MediaUpload"
        class="primaryButtonGreen button" tabindex="0" style="">
        <div class="box">
            <div class="boxContent">
                <div class="padding">UPLOAD</div>
            </div>
        </div>
    </a>

    <div class="clear"></div>
</div>
