@{
    ViewBag.Title = "MediaEdit";
}

<div id="programPopUpmed">
    <div id="media-view-lft">
        *Slider goes here* *width: 360px height: 480px* *it will automatically vertically align the image/video in this box, john will assist with finding the correct slider*
    </div>
    <div id="media-view-wrap-rt">
        <div id="media-view-rt-first">
            UPLOADED BY: SARAH JONES<br />
            AUGUST 20, 2013
        </div>
        <div id="media-form-lft">
            <span>CHOOSE FILE:</span><br />
            <input type="file" />
        </div>
        <div id="media-form-lft">
            <span>TITLE:</span><br />
            <input type="text" />
        </div>
        <div id="media-form-lft">
            <div class="clear"></div>
            <span>DESCRIPTION:</span><br />
            <textarea></textarea>
            <div class="clear"></div>
        </div>
    </div>
    <br />
    <div id="media-view-rt">
        <a id="a1" onclick="cont();" title="SAVE" href=""
            class="primaryButtonGreen button" tabindex="0" style="">
            <div class="box">
                <div class="boxContent">
                    <div class="padding">SAVE</div>
                </div>
            </div>
        </a>

        <a id="a5" onclick="cont();" title="CANCEL" href=""
            class="primaryButton button" tabindex="0" style="">
            <div class="box">
                <div class="boxContent">
                    <div class="padding">CANCEL</div>
                </div>
            </div>
        </a>

    </div>
    <div class="clear"></div>
</div>
