@{
    ViewBag.Title = "G30_upload_photo_video[caesar]";
}


<div link="G30" class="panel invisible">
    <a   link="G30_link" rel="[link='G30']" style=""></a>
     @ViewBag.Title_G30
     <div class="wrapper-modal-small whiteback">
        <div class="title">Upload Media</div>
        <div class="modal-tiny-row">
            <label>
                Name:
            <span>
                <input type="file" />
            </span>
            </label>
            </div>
        <div class="clear"></div>
        <div class="right">
            <button link="modalcancelbutton" class="nav-btn-light">CANCEL</button>
            <button link="modalokbutton" class="nav-btn-green">UPLOAD</button>
        </div>
    </div>
</div>


