@charset "utf-8";
/* CSS Structure */

/* [position]-[structure]-[feature]-[attribute 1]-[attribute 2] */

/*  Color Palette
**************************************************************

Background: #fff
Borders: #dbdbdb
Text: #434343
Secondary Text: #999999
Main Accent: #999
Links: #5f97af
*/

html { }

body { font-size: 12px; font-family: 'Carrois Gothic', sans-serif; text-transform: uppercase; }

/* Headings */
h1, h2, h3, h4, h5, h6, h7, h8, h9 { font-weight: normal; margin: 0; text-transform: none; color: #b9165a; display: inline; }

h1 { font-size: 34px; }
h2 { font-size: 32px; }
h3 { font-size: 30px; }
h4 { font-size: 28px; }
h5 { font-size: 24px; }
h6 { font-size: 22px; }
h7 { font-size: 20px; }
h8 { font-size: 18px; }
h9 { font-size: 16px; }

header h2 { }

/* Lists */
li ul,
li ol { margin: 0 1.5em; }
ul, ol { margin: 1.5em; line-height: 1.538em; }


dl { margin: 0 0 1.5em 0; }
    dl dt { font-weight: bold; }
dd { margin-left: 1.5em; }

/* Text elements */
p { margin: 0 0 1em;}

a:visited,
a:active,
a:link,
a:focus,
a:hover { text-decoration:none; color:#b9165a; cursor:pointer; }
a { text-decoration:underline; color:#b9165a; }
.white-font-normal a { text-decoration:none; color: #fff; font-weight: normal; text-transform:none; font-size:13px;}
.white-font-normal a:hover { text-decoration:underline; color: #fff; font-weight: normal; text-transform:none; font-size:13px;}

table a { color:#b9165a; }

blockquote { margin: 0.923em; color: #666; font-style: italic; }
strong { font-weight: bold; }
em, dfn { font-style: italic; }
dfn { font-weight: bold; }
sup, sub { line-height: 0; }

.line-10 { line-height: 10px;}
.line-20 { line-height: 20px;}
.line-30 { line-height: 30px;}
.line-40 { line-height: 40px;}

abbr,
acronym { border-bottom: 1px dotted #666; }
address { margin: 0 0 0.923em; font-style: italic; }
del { color: #666; }

/* first level */
nav > ul > li { }
    nav > ul > li > a { }
    nav > ul > li:hover { }
    nav > ul > li:hover { }

/* font definitions */
.module-header-row a { color:#424243; }
label { font-size: 12px; text-transform: none;}
    label span { font-weight: normal; }
button { }
.tag { font-size: 10px; }
.title { font-weight: bold; font-size: 16px; }
.description { text-transform: none; }
.font-style-none {font-weight:normal; font-size:10px;}
.light-font { color: #8c8c8c; text-transform:none;}
.highlight-font { color: #d8e250;}
.highlight-font-bld { color: #d8e250; font-weight: bold;}
.header-font { color: #b9165a; }
.header-font-bold { color: #b9165a; font-weight: bold; }
.header-font-italic { color: #b9165a; font-style: italic; }
.white-font { color: #fff;}
.white-font-bld { color: #fff; font-weight: bold;}
.white-font-normal { color: #fff; font-weight: normal; text-transform:none; font-size:15px;}
.white-font-med { color: #fff; font-weight: bold; text-transform:none; font-size:15px;}
.white-font-lrg { color: #fff; font-weight: bold; text-transform:none; font-size:18px;}
.white-font-huge { color: #fff; font-weight: bold; text-transform:none; font-size:22px;}
.grey-font-med { color: #464646; font-weight: bold; text-transform:none; font-size:14px;}
.grey-font-lrg { color: #464646; font-weight: bold; text-transform:none; font-size:18px;}
.small-font { color: #595a5c; font-size: 14px; font-weight:normal;}
.small-font-bld { color: #595a5c; font-size: 14px; font-weight:bold;}
.med-font { color: #595a5c; font-weight: normal; font-size: 16px;}
.med-font-bld { color: #595a5c; font-weight: bold; font-size: 16px;}
.large-font { color: #595a5c; font-weight: normal; font-size: 16px;}
.large-font-bld { color: #595a5c; font-weight: bold; font-size: 18px;}
label.white-font-caps span { font-size:11px; text-transform: uppercase; color:#fff;}
label.white-font-caps {  color: #464646; font-weight: normal; font-size: 15px;}
fieldset legend { text-transform: none; font-size: 18px;}

/* general structure */
.title { padding: 5px 0 5px 5px; background-color: #e1e1e2; margin-bottom: 10px; text-transform: uppercase;}
span { padding: 0px 0px 5px 0px; margin: 0; clear: both; }
label { font-weight:bold; }
.album-list div { padding-left:5px; }
.invalid {
    color: red;
    font-weight: bold;
}

.noupper {
    text-transform:none;
}