@{
    ViewBag.Title = "HT03";
}

<div link="HT03" class="panel invisible">
    <a   link="HT03_link" rel="[link='HT03']" style=""></a>

    <div class="wrapper-large">
        <div class="col-thirty">
            <header>
                <h2>Welcome!</h2>
            </header>
        </div>
        <div class="clear"></div>
        <div class="bg-light">

            <div class="modal-small-row">
                <p>
                    Want to lose weight, train for a marathon, or get stronger? Liveo Fitness Tracker is a great way to create a plan around your goals and track them to completion!
                </p>
                <div class="right">
                    <button class="nav-btn-green">START NOW</button>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
</div>
