
@{
    ViewBag.Title = "A300-30_findfood";
}


<div link="A300-30" class="panel invisible">
    <a link="A300-30_link" rel="[link='A300-30']" style=""></a>
    @ViewBag.Title_A300_30
    <div class="wrapper-small border-1 height-medium whiteback">
        <div class="title">Find Food/Meal</div>
        <label class="large-txt">
            Search:
               
        <span>
            <input type="text" />
        </span>
        </label>
        <label class="small-txt">
            Food/Meal:
               
        <span class="scroll-window border-1">Apple:<br />
            30 Calories<br />
            30 Grams Carbohydrates<br />
            30 Grams Fat<br />
            30 Grams Protein<br />
            Serving Size<br />
            Serving
        </span>
        </label>
        <div class="btm-rt">
            <button link="modalcancelbutton" class="nav-btn-light">CANCEL</button>
            <button link="modalokbutton" class="nav-btn-green">SAVE</button>
        </div>
        <div class="clear"></div>
    </div>
</div>
