@{
    ViewBag.Title = "A300-20_addfood";
}


<div link="A300-20" class="panel invisible">
    <a link="A300-20_link" rel="[link='A300-20']" style=""></a>
    @ViewBag.Title_A300_20
    <div class="wrapper-small border-1 height-medium whiteback">
        <div class="title">Add Food</div>
        <label class="large-txt">
            Name:
               
        <span>
            <input type="text" />
        </span>
        </label>

        <div class="col-fifty">
            <label class="small-txt">
                Calories (g):
               
            <span>
                <input type="number" />
            </span>
            </label>
        </div>
        <div class="col-fourty">
            <label class="small-txt">
                Carbohydrates (g):
               
            <span>
                <input type="number" />
            </span>
            </label>
        </div>
        <div class="col-fifty">
            <label class="small-txt">
                Fat (g):
               
            <span>
                <input type="number" />
            </span>
            </label>
        </div>
        <div class="col-fourty">
            <label class="small-txt">
                Protein (g):
               
            <span>
                <input type="number" />
            </span>
            </label>
        </div>
        <div class="col-fifty">
            <label class="small-txt">
                Serving Size:
               
            <span>
                <input type="number" />
            </span>
            </label>
        </div>
        <div class="col-fourty">
            <label>
                Units:
               
            <span>
                <select>
                    <option>Select..</option>
                </select>
            </span>
            </label>
        </div>
        <div class="col-fifty">
            <label class="small-txt">
                Serving(s):
               
            <span>
                <input type="number" />
            </span>
            </label>
        </div>
        <div class="col-fourty">
            <label>
                Units:
               
            <span>
                <select>
                    <option>Select..</option>
                </select>
            </span>
            </label>
        </div>
        <div class="btm-rt">
            <button link="modalcancelbutton" class="nav-btn-light">CANCEL</button>
            <button link="modalokbutton" class="nav-btn-green">SAVE</button>
        </div>
        <div class="clear"></div>
    </div>

</div>

