@{
    ViewBag.Title = "Index_HP400-20";
}

<!-- HP400-20 New Exercise-->
<div link="HP400-20" class="invisible panel">
    <a link="HP400-20_link" rel="[link='HP400-20']" style=""></a>
    @ViewBag.Title_HP400_20
    <div class="wrapper-small border-1 height-medium">
        <div class="title">Add Food</div>
        <label class="large-txt">
            Title:
                <span>
                    <input type="text" />
                </span>
        </label>
        <label class="large-txt">
            Description:
                <span>
                    <textarea></textarea>
                </span>
        </label>
        <label class="small-txt">
            Duration:
                <span>
                    <input type="number" />
                </span>
        </label>
        <label class="small-txt">
            Calories Burned:
                <span>
                    <input type="text" />
                </span>
        </label>
        <div class="btm-rt">
            <button class="nav-btn-light">CANCEL</button>
            <button class="nav-btn-green">SAVE</button>
        </div>
        <div class="clear"></div>
    </div>

</div>
