@{
    ViewBag.Title = "Index_HP300-10";
}

<div link="HP300-10" class="invisible panel">
    <a link="HP300-10_link" rel="[link='HP300-10']" style=""></a>
    @ViewBag.Title_HP300_10

    <div class="wrapper-medium">
        <div class="title">Search & Choose From Meal Library Or Enter Your Own</div>
        <label class="auto-txt">
            Search:
            <br />
            <input type="text" id="someinput"><br>
            <select id="optlist" multiple="multiple" width="300px">
                <option value="1">Ham</option>
                <option value="2">Ham and Cheese</option>
                <option value="3">Han and Cheese Omelette</option>

            </select>​

            
        </label>





        <div class="clear"></div>

      
            <label class="large-txt">
                Name:
                <span>
                    <input type="text" />
                </span>
            </label>
                      
        <div class="col-twenty">
            <label class="small-txt">
                Calories (g):
                <span>
                    <input type="number" />
                </span>
            </label>
        </div>

        <div class="col-twenty">
            <label class="small-txt">
                Carbohydrates (g):
                <span>
                    <input type="number" />
                </span>
            </label>
        </div>

        <div class="col-twenty">
            <label class="small-txt">
                Fat (g):
                <span>
                    <input type="number" />
                </span>
            </label>
        </div>

        <div class="col-twenty">
            <label class="small-txt">
                Protein (g):
                <span>
                    <input type="number" />
                </span>
            </label>
        </div>

        <div class="col-twenty">
            <label class="small-txt">
                Serving Size:
                <span>
                    <input type="number" />
                </span>
            </label>
        </div>

        <div class="col-twenty">
            <label class="small-txt">
                Units:
                <span>
                    <select><option>Select..</option></select>
                </span>
            </label>
        </div>

                    <div class="col-twenty">
                <label class="small-txt">
                    Serving(s):
                <span>
                    <input type="number" />
                </span>
                </label>
            </div>

            <div class="col-twenty">
                                <label class="small-txt">
                    Units:
                <span>
                   <select><option>Select..</option></select>
                </span>
                </label>
            </div>

                <div class="clear"></div>


        <label>
            Apply Selected Meal For:
                <span>
                    <ul class="left">
                        <li>
                           <input type="checkbox" />
                            Breakfast</li>
                        <li>
                        <li>
                            <input type="checkbox" />
                            Lunch</li>
                        <li>
                            <input type="checkbox" />
                            Dinner</li>
                        <li>
                            <input type="checkbox" />
                            Snack</li>
                        <li>
                    </ul>
                </span>
        </label>

        <div class="clear"></div>
        <div class="right">
            <button link="HP300-10_cancel" class="nav-btn-light">CANCEL</button>
            <button link="HP300-10_cancel" class="nav-btn-green">ADD MEAL ITEM</button>

        </div>

    </div>
</div>
