@{
    ViewBag.Title = "pvHT23";
}

<div link="HT23" class="panel invisible">
    <a   link="HT23_link" rel="[link='HT23']" style=""></a>
    
    <div class="wrapper-medium border-1 whiteback">
        @ViewBag.Title_HT23
        <div class="title">Fat Loss Program</div>
        <div class="row-main-margin-btm">
            <div class="col-twenty">
                <img src="@Href("../../images/profile-pic.jpg")" height="100px" width="100px" />
            </div>
            <div col="col-eighty">
                <div class="row-ten-rt highlight-font">12 users recommend this</div>
                <p>
                    Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away.
                </p>
                <div class="row-twenty small-font-bld">
                    <span>Duration: 8 Weeks</span><br />
                    <span>Potential Weight Loss: 20 lbs</span>
                </div>
            </div>
        </div>
        <div class="row-main-margin-btm">
            <span class="med-font-bld">Exercise</span>
            <div class="modal-tiny-row border-1">
                <div class="col-seventy">
                    <strong>Breakfast (200 Cal)</strong><br />
                    Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This is here to offer you the ultimate fat burning program.
                </div>
                <div class="col-thirty txt-right">
                    <span class="top-rt"><a>Edit</a> | <a>Delete</a></span>
                    <span class="btm-rt highlight-font">15 Subscribers</span>
                </div>
            </div>
        </div>
        <div class="row-main-margin-btm">
            <span class="med-font-bld">Nutrition</span>
            <div class="modal-tiny-row border-1">
                <div class="col-seventy">
                    <strong>Breakfast (200 Cal)</strong><br />
                    Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This is here to offer you the ultimate fat burning program.
                </div>
                <div class="col-thirty txt-right">
                    <span class="top-rt"><a>Edit</a> | <a>Delete</a></span>
                    <span class="btm-rt highlight-font">15 Subscribers</span>
                </div>
            </div>
        </div>
        <div class="right">
            <button link="modalcancelbutton" class="nav-btn-light">CANCEL</button>
            <button link="modalokbutton" class="nav-btn-green">USE PLAN</button>
        </div>
    </div>
</div>
