@{
    ViewBag.Title = "Index_HT03";
}

<div link="HT03" class="invisible">
    @ViewBag.Title_HT03

    <a   link="HT03_toHT05">"Has Goal" screen</a>
    <div class="wrapper-large">
        <div class="col-thirty">
            <header>
                <h2>Welcome!</h2>
            </header>
        </div>
        <div class="clear"></div>
        <div class="bg-light">

            <div class="modal-small-row">
                <p>
                    Want to lose weight, train for a marathon, or get stronger? Liveo Fitness Tracker is a great way to create a program around your goals and track them to completion!
                </p>
                <div class="right">
                    <button link="btn_HT03_StartNow_click" class="nav-btn-green">START NOW</button>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>

</div>
