@{
    ViewBag.Title = "pvU01-1";
}
<!--------------------------------------------------------- BEGIN _U01-1_ -------------------------------------------------------------->
<script>
   

    $(document).ready(function () {

    
    });

   
</script>
<div data-model="vmUser">
    <div link="U01-1" class="panel notinvisible">
        <a link="U01-1_link" rel="[link='U01-1']" style=""></a>
        @ViewBag.Title_U01_1
        <h2>Step 1 - Registration (Credit Card)</h2>
        <br />
        <br />

      
    </div>
</div>
<!--------------------------------------------------------- END _U01-10_ -------------------------------------------------------------->
