@{
    ViewBag.Title = "pvU10-10";
}
<!--------------------------------------------------------- BEGIN _U10-10_ -------------------------------------------------------------->
<script>

    $(document).ready(function () {


      
    });


</script>
<div data-model="vmGoal">
    <div link="U10-10" class="panel invisible">
        <a link="U10-10_link" rel="[link='U10-10']" style=""></a>
        @ViewBag.Title_U10_10
        
        <div class="title">Define a Goal</div>
        <hr />

        <p>By this date:</p>
        <label><input type="text" /></label>

        <br />

        <p>I want to:</p>   
        <label><input size="60"  /></label>
        
       
        <p>Type of goal </p>
 
        <label>
            <select>
                <option>Choose Goal...</option>
                <option>Lose Weight</option>
                <option>Lower Bloodpressure</option>
                <option>Endurance Training</option>
                <option>Weight Training</option>
            </select>
        </label>

    </div>
</div>

<!--------------------------------------------------------- END _U10-10_ -------------------------------------------------------------->
