@{
    ViewBag.Title = "pvU10";
}
<!--------------------------------------------------------- BEGIN _U10_ Member Survey --------------------------------------------->

<script>
    $(document).ready(function () {
        $('[link="U10_cancel"]').click(function () { U10_backHome(); })

    });

    function U10_backHome() {
        location = "/";
    }

</script>

<style>
    td { padding: 10px; }
</style>

<div data-model="vmGoal">
    <div link="U10" class="panel notinvisible">
        <a link="U10_link" rel="[link='U10']" style=""></a>
        @ViewBag.Title_U10
        <div class="wrapper-large">
            <div class="title">Liveo Health and Fitness Survey</div>

            <img src="@Href("../../Images/survey_banner.jpg")" />
            <br />
            <br />
            <br />



            <h3 class="header-font-italic">This survey is designed to help us develop an optimal health and fitness program for you.</h3>
   
                         <!------------------------------------------------ BEGIN define a goal ------------>

                @Html.Partial("pvU10-10")
            





            <br />
                <br />
                <div class="title noupper">Fitness Questions</div>
            <hr />
            
            <label class="large-txt">
               What is your age?
                <span>
                                        <select>
                                            <option>Choose...</option>
                                            <option value="20">20 and under</option>
                                            <option value="35">20-35</option>
                                            <option value="50">36-50</option>
                                            <option value="65">51-65</option>
                                            <option value="66">66 and up</option>

                                        </select>
                </span>
            </label>
            <label class="large-txt">
               What is your Ethnicity?
                <span>
                                        <select>
                                            <option>Choose...</option>
                                            <option>White</option>
                                            <option>Black</option>
                                            <option>Hispanic</option>
                                            <option>Asian</option>
                                            <option>American Indian</option>

                                        </select>
                </span>
            </label>
            <label class="large-txt">
                What is your Gender?
                <span>
                    <select>
                        <option>Choose...</option>
                        <option>Male</option>
                        <option>Female</option>
                    </select>
                </span>
            </label>
                        <label class="large-txt">
               What is your timeline for reaching your goal?
                <span>
                                        <select>
                                            <option>6 weeks</option>
                                            <option>3 months</option>
                                            <option>1 year</option>
                                            <option>I'm willing to make a lifestyle change</option>
                                        </select>
                </span>
            </label>
                        <label class="large-txt">
               How many times a week are you willing to work out?
                <span>
                                        <select>
                                            <option>2-3 times a week</option>
                                            <option>3-5 times a week</option>
                                            <option>5-6 times a week</option>
                                        </select>
                </span>
                        </label>       
                                    <label class="large-txt">
              How long do you have to work out?
                <span>
                                        <select>
                                            <option>15 minutes</option>
                                            <option>30 minutes</option>
                                            <option>45 minutes</option>
                                            <option>As long as I want</option>
                                        </select>
                </span>
                                    </label>       
                                                <label class="large-txt">What type of workouts do you enjoy the most?
                <span>
                                        <select>
                                            <option>High Intensity</option>
                                            <option>Cardio</option>
                                            <option>Yoga-type</option>
                                            <option>MMA</option>
                                        </select>
                </span>
                                                </label>   
                                                            <label class="large-txt">Which trainer would you prefer?
                <span>
                                        <select>
                                            <option>Male trainer</option>
                                            <option>Female trainer</option>
                                            <option>No preference</option>
                                        </select>
                </span>
                                    </label>       
                                                            <label class="large-txt">Where do you work out most of the time?
                <span>
                                        <select>
                                            <option>Gym</option>
                                            <option>Home</option>
                                            <option>Office</option>
                                            <option>Other</option>
                                        </select>
                </span>
                                    </label>   



                            <br />
                            <br />
                            <div class="title  noupper">Diet Questions</div>
                            <hr />
      
                                                                        <label class="large-txt">Which of the following best describes your diet?
                <span>
                                        <select>
                                            <option>Good</option>
                                            <option>Okay</option>
                                            <option>Bad</option>
                                        </select>
                </span>
                                    </label>   
                                                                        <label class="large-txt">Which of the following categories applies to you?
                                                                            <span>
                                                                                <input name="Nautilus" type="checkbox" value="Vegetarian" />
                                                                                Vegetarian
                                                                            </span>
                                                                            <span>
                                                                                <input name="Gluten_Free" type="checkbox" value="Gluten Free" />
                                                    Gluten Free
                                                                            </span>
                                                                            <span>
                                                                                <input name="No_Red_Meat" type="checkbox" value="No Red Meat" />
                                                    No Red Meat
                                                                            </span>
                                                                            <span>
                                                                                <input name="Dairy_Allergy" type="checkbox" value="Dairy Allergy" />
                                                                                Dairy Allergy
                                                                            </span>
                                                                                                                                                                        <span>
<input name="Nut_Allergy" type="checkbox" value="Nut Allergy" />
                                                    Nut Allergy
                </span>
                                    </label>   
                                                                                    <label class="large-txt">What would be the best thing we could provide you regarding diet?
                <span>
                                        <select>
                                            <option>Please tell me exactly what to eat and give me recipes</option>
                                            <option>Just tell me what I can eat and what I can't eat and I'll handle the rest</option>
                                            <option>I know what I should eat, I just need some motivation</option>
                                            <option>I don't need any help with my diet</option>
                                        </select>
                </span>
                                    </label>   
                                                                                    <label class="large-txt">How do you feel about nutritional and workout supplements?
                <span>
                                        <select>
                                            <option>I currently take supplements</option>
                                            <option>I don't take supplements but I would consider taking them if they help me reach my goal</option>
                                            <option>I really don't want to take supplements</option>
                                        </select>
                </span>
                                                                                    </label>   
                                                                                                <label class="large-txt">How do you feel about nutritional and workout supplements?
                <span>
                                        <select>
                                            <option>I currently take supplements</option>
                                            <option>I don't take supplements but I would consider taking them if they help me reach my goal</option>
                                            <option>I really don't want to take supplements</option>
                                        </select>
                </span>
                                    </label>   
            

                <br />
                <br />
                <br>
                <div>
                    <button class="segment-small-status-light" link="U10_cancel" class="primaryAction">Skip Survey</button>
                    <button class="segment-small-status-green" link="U10_step3" class="primaryAction">Select a Program</button>

                </div>

                <label>
                    <div link="U10_message"></div>
                </label>
            </p>

        </div>
    </div>
</div>
<!--------------------------------------------------------- END _U10_ -------------------------------------------------------------->
