@{
    ViewBag.Title = "pvU10";
}
<!--------------------------------------------------------- BEGIN _U10_ -------------------------------------------------------------->
<script>
    var _goal_ViewModel;


    $(document).ready(function () {

        $('[link="U10_step1"]').click(function () { U10_step1(); });
        $('[link="U10_step3"]').click(function () { U10_step3(); });

        _goal_ViewModel = new Goal_ViewModel();
        _goal_ViewModel.beginCandidateGoalModel();

        _goal_ViewModel.candidateGoalModel().Name('');

        //init fields

        //attach after initializing
        ko.attach("vmGoal", _goal_ViewModel);

    });

    function U10_step1() {
        CM.fadeTransition('U10', 'U01', 200);
    }

    function U10_step3() {
        CM.fadeTransition('U10', 'U20', 200);
    }

</script>
<style>
    td { padding: 10px; }
</style>

<div data-model="vmGoal">
    <div link="U10" class="panel invisible">
        <a link="U10_link" rel="[link='U10']" style=""></a>
        @ViewBag.Title_U10
        <div class="wrapper-large">
            <h1>Liveo Health and Fitness Survey</h1>

            <img src="@Href("../../Images/survey_banner.jpg")" />
            <br />
<!---------------------------------------------- BEGIN define a goal ----------------------------------------------------->
                <div data-model="vmGoal">
                    <div class="title">Define a Goal</div>
                    <hr />
                    This survey is designed to help us develop an optimal health and fitness program for you.
                    <table width="650" border="0" cellspacing="0" cellpadding="5">
                        <tr>
                            <td>
                                <label>What is your goal?</label>
                                <select  data-bind="value: candidateGoalModel().GoalTypeId">
                                    <option>Choose Goal...</option>
                                    <option value="1">Lose Weight</option>
                                    <option value="2">Lower Bloodpressure</option>
                                    <option value="3">Endurance Training</option>
                                    <option value="4">Weight Training</option>
                                </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>By this date:</label>
                                <input data-bind="value:candidateGoalModel().AccomplishDate" type="text" link="goaldate_goal" />
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <label>Give your goal a name:</label>
                                <input data-bind="value:candidateGoalModel().Name" size="60" link="txtGoalName" value="" />
                            </td>
                        </tr>
                    </table>
                </div>
<!---------------------------------------------- END define a goal ----------------------------------------------------->                        <br />
                                        <br />
                                        <div class="title">Fitness Questions</div>
                                        <hr />
                                        <table width="650" border="0" cellspacing="0" cellpadding="5">
                                            <tr>
                                                <td valign="top"><span class="field_name">Please tell us which of the outdoor activities you 

are involved in:</span>
                                                    <table width="650" border="0">
                                                        <tr>
                                                            <td width="30">
                                                                <input name="Nautilus" type="checkbox" id="Nautilus" value="Nautilus" /></td>
                                                            <td width="177" class="form_text">Nautilus</td>
                                                            <td width="30">
                                                                <input name="Fitness_Training" type="checkbox" id="Fitness_Training" value="Fitness_Training" /></td>
                                                            <td width="161" class="form_text">Fitness Training</td>
                                                            <td width="30">
                                                                <input name="Dance" type="checkbox" id="Dance" value="Dance" /></td>
                                                            <td width="196" class="form_text">Dance</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="30">
                                                                <input name="Free_Weights" type="checkbox" id="Free_Weights" value="Free_Weights" /></td>
                                                            <td width="177" class="form_text">Free Weights</td>
                                                            <td width="30" class="form_text">
                                                                <input name="Tennis" type="checkbox" id="Tennis" value="Tennis" /></td>
                                                            <td width="161" class="form_text">Tennis</td>
                                                            <td width="30" class="form_text">
                                                                <input name="Racquetball" type="checkbox" id="Racquetball" value="Racquetball" /></td>
                                                            <td width="196" class="form_text">Racquetball</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="30">
                                                                <input name="Running" type="checkbox" id="Running" value="Running" /></td>
                                                            <td width="177" class="form_text">Running</td>
                                                            <td width="30" class="form_text">
                                                                <input name="Golf" type="checkbox" id="Golf" value="Golf" /></td>
                                                            <td width="161" class="form_text">Golf</td>
                                                            <td width="30" class="form_text">
                                                                <input name="Bicycling" type="checkbox" id="Bicycling" value="Bicycling" /></td>
                                                            <td width="196" class="form_text">Bicycling</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="30">
                                                                <input name="Walking" type="checkbox" id="Walking" value="Walking" /></td>
                                                            <td width="177" class="form_text">Walking</td>
                                                            <td width="30" class="form_text">
                                                                <input name="Swimming" type="checkbox" id="Swimming" value="Swimming" /></td>
                                                            <td width="161" class="form_text">Swimming</td>
                                                            <td width="30" class="form_text">
                                                                <input name="Nutritional_Supplements" type="checkbox" id="Nutritional_Supplements" value="Nutritional_Supplements" /></td>
                                                            <td width="196" class="form_text">Nutritional Supplements</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="30">
                                                                <input name="Pilates" type="checkbox" id="Pilates" value="Pilates" /></td>
                                                            <td width="177" class="form_text">Pilates</td>
                                                            <td width="30" class="form_text">
                                                                <input name="Aerobics" type="checkbox" id="Swimming7" value="Aerobics" /></td>
                                                            <td width="161" class="form_text">Aerobics</td>
                                                            <td width="30" class="form_text">
                                                                <input name="Vitamins" type="checkbox" id="Vitamins" value="Vitamins" /></td>
                                                            <td width="196" class="form_text">Vitamins</td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <input name="Yoga" type="checkbox" id="Yoga" value="Yoga" /></td>
                                                            <td class="form_text">Yoga</td>
                                                            <td class="form_text">
                                                                <input name="Weight_loss" type="checkbox" id="Aerobics" value="Weight_loss" /></td>
                                                            <td class="form_text">Weight loss</td>
                                                            <td class="form_text">&nbsp;</td>
                                                            <td class="form_text">&nbsp;</td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td width="345" valign="top">
                                                    <p class="field_name">
                                                        How often do you participate
                        in this fitness activity?
                                                    </p>
                                                    <p>
                                                        <select name="How_often" id="How_often">
                                                            <option selected>Select</option>
                                                            <option value="Once a week">Once a week</option>
                                                            <option value="Twice a week">Twice a week</option>
                                                            <option value="3 times a week">3 times a week</option>
                                                            <option value="4 times a week">4 times a week</option>
                                                            <option value="5 times a week">5 times a week</option>
                                                            <option value="6 times a week">6 times a week</option>
                                                            <option value="7 times a week">7 times a week</option>
                                                            <option value="Once a month">Once a month</option>
                                                            <option value="Once every 3 months">Once every 3 months</option>
                                                            <option value="Rarely">Rarely</option>
                                                        </select>
                                                        <br>
                                                    </p>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top"><span class="field_name">Are you currently
                        a member of a fitness facility?</span><br />
                                                    <input type="radio" name="facility_member" value="Yes" />
                                                    <span class="form_text">Yes</span><br />
                                                    <input type="radio" name="facility_member" value="No" />
                                                    <span class="form_text">No</span></td>
                                            </tr>
                                            <tr>
                                                <td valign="top"><span class="field_name">Which fitness facility
                        do you currently belong to?</span><br />
                                                    <input name="fitness_facility" type="text" id="fitness_facility" size="50" /></td>
                                            </tr>
                                            
                                            <tr>
                                                <td height="80" valign="top">
                                                    <table width="350" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td colspan="3" class="field_name"><span class="field_name">Do
                              you prefer to exercise at:</span></td>
                                                        </tr>
                                                        <tr>
                                                            <td width="93" class="form_text">Home</td>
                                                            <td width="60">
                                                                <input type="radio" name="Prefer_Home" value="Yes">
                                                                <span class="form_text">Yes</span>                          </td>
                                                            <td width="197" class="form_text">
                                                                <input type="radio" name="Prefer_Home" value="No">
                                                                No                          </td>
                                                        </tr>
<tr>
                                                                                                                            <td width="34">
                                                                <select>
                                                                    <option>Home</option>
                                                                    <option>Fitness facility</option>
                                                                </select>
                                                            </td></tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <table width="303" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td colspan="2" class="field_name">Do you currently
                                                                own:</td>
                                                        </tr> <tr>
                                                                                                                            <td width="34">
                                                                <select>
                                                                    <option>Fitness equipment</option>
                                                                    <option>Instructional exercise videos</option>
                                                                    <option>Fitness magazines</option>
                                                                </select>
                                                            </td></tr>
                                                    </table>
                                                </td>
                                            </tr>
                                                                                       <tr>
                                                <td>
                                                    <table width="750" border="0">
                                                        <tr>
                                                            <td colspan="2" class="field_name">Are you currently taking:</td>
                                                        </tr>
                                                        <tr>
                                                                                                                            <td width="34">
                                                                <select>
                                                                    <option>Nutritional supplements</option>
                                                                    <option>Vitamins</option>
                                                                    <option>Both</option>
                                                                    <option>None of the Above</option>
                                                                </select>
                                                            </td></tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <table width="750" border="0">
                                                        <tr>
                                                            <td class="field_name">What type of fitness program are you looking for?</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="34">
                                                                <select>
                                                                    <option>Diet Plan</option>
                                                                    <option>Exercise Plan</option>
                                                                    <option>Both</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <table width="750" border="0">
                                                        <tr>
                                                            <td class="field_name">If your fitness routine includes weight lifting, how do you classify your current training level?</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="34">
                                                                <select>
                                                                    <option>Beginner</option>
                                                                    <option>Intermediate</option>
                                                                    <option>Advanced</option>
                                                                    <option>Body Builder</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <table width="750" border="0">
                                                        <tr>
                                                            <td class="field_name">What is your main strength training goal?</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="34">
                                                                <select>
                                                                    <option>Appearance</option>
                                                                    <option>Health</option>
                                                                    <option>Health and Appearance</option>
                                                                    <option>Muscle Strength</option>
                                                                    <option>Muscular Endurance</option>
                                                                    <option>Sports</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <br />
                                                    <br />
                                                    <div class="title">Diet Questions</div>
                                                    <hr />
                                                </td>
                                            </tr>
 
                                            <tr>
                                                <td valign="top">
                                                    <table width="750" border="0">
                                                        <tr>
                                                            <td class="field_name">What type of diet are you most interested in?</td>
                                                        </tr>
                                                        <tr>
                                                            <td width="34">
                                                                <select>
                                                                    <option>Low Carb</option>
                                                                    <option>High Protein</option>
                                                                    <option>Vegan</option>
                                                                    <option>High Carb</option>
                                                                    <option>Juice Fasting</option>
                                                                </select>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                                                                        <tr>
                                                <td valign="top">
                                                    <table width="750" border="0">
                                                        <tr>
                                                            <td valign="top"><span class="field_name">Are you currently
                                                                                 a member of a weight loss program?</span><br />
                                                                <input type="radio" name="facility_member" value="Yes" />
                                                                <span class="form_text">Yes</span><br />
                                                                <input type="radio" name="facility_member" value="No" />
                                                                <span class="form_text">No</span></td>
                                                        </tr>


                                                                                                            </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <table width="750" border="0">
                                                        <tr>
                                                            <td valign="top"><span class="field_name">Which weight loss
                                                                                 program do you currently belong to?</span><br>
                                                                                                                           <input name="weight_loss_program" type="text" id="weight_loss_program" size="50" /></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            
                                                                                        <tr>
                                                <td valign="top">
                                                    <br />
                                                    <br />
                                                    <div class="title">Medical Questions</div>
                                                    <hr />
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <table width="750" border="0">
                                                        <tr>
                                                            <td valign="top"><span class="field_name">Are your fitness objectives associated with a medical condition?</span><br />
                                                                <input type="radio" name="facility_member" value="Yes" />
                                                                <span class="form_text">Yes</span><br />
                                                                <input type="radio" name="facility_member" value="No" />
                                                                <span class="form_text">No</span></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                                                                                                                    <tr>
                                                <td valign="top">
                                                    <table width="750" border="0">
                                                        <tr>
                                                            <td class="field_name">If yes, which condition do you most want to address?</td>
                                                        </tr>
                                                        <tr>
                                                                                                                            <td width="34">
                                                                <select>
                                                                    <option>Gluten Allergy</option>
                                                                    <option>Diabetes</option>
                                                                    <option>High Blood Pressure</option>
                                                                </select>
                                                            </td></tr>
                                                                                                            </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <table width="750" border="0">
                                                        <tr>
                                                            <td valign="top"><span class="field_name">Are you allergic to wheat/gluten?</span><br />
                                                                <input type="radio" name="facility_member" value="Yes" />
                                                                <span class="form_text">Yes</span><br />
                                                                <input type="radio" name="facility_member" value="No" />
                                                                <span class="form_text">No</span></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td valign="top">
                                                    <table width="750" border="0">
                                                        <tr>
                                                            <td valign="top"><span class="field_name">Are your diabetic?</span><br />
                                                                <input type="radio" name="facility_member" value="Yes" />
                                                                <span class="form_text">Yes</span><br />
                                                                <input type="radio" name="facility_member" value="No" />
                                                                <span class="form_text">No</span></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                                                                        <tr>
                                                <td valign="top">
                                                    <table width="750" border="0">
                                                        <tr>
                                                            <td valign="top"><span class="field_name">Do you have hypertension or high blood pressure?</span><br />
                                                                <input type="radio" name="facility_member" value="Yes" />
                                                                <span class="form_text">Yes</span><br />
                                                                <input type="radio" name="facility_member" value="No" />
                                                                <span class="form_text">No</span></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>


        <div>
            <button class="segment-small-status-light" link="U10_step1" class="primaryAction"><- Back to Step 1 - Registration</button>
            <button class="segment-small-status-green" link="U10_step3" class="primaryAction">Step 3 - Select a Program -></button>
            
        </div>
        Click <a href="/">here</a> to skip the survey and proceed to your profile.
        <p>
            <label>
                <div link="U10_message"></div>
            </label>

        </p>

    </div>
</div>
    </div>
<!--------------------------------------------------------- END _U10_ -------------------------------------------------------------->
