@{
    ViewBag.Title = "pvU20-10";
}
<!--------------------------------------------------------- BEGIN _U20-10_ -------------------------------------------------------------->
<script>
   

    $(document).ready(function () {

     
    });

   

</script>
<div data-model="vmProgram">

    <div link="U20-10" class="panel invisible popupwindow">
        <a link="U20-10_link" rel="[link='U20-10']" style=""></a>
        @ViewBag.Title_U20-10

        <div class="wrapper-large height-medium">
                <div class="title">Program Details</div>
     
                <div class="col-fifty">
                    <label class="large-txt">
                        Title:
                        <span data-bind="html:editedProgramModel().Name">
                        </span>
                    </label>

                    <label class="large-txt">
                        Description:
                        <span  data-bind="html:editedProgramModel().GeneralDescription">
                        </span>
                    </label>

                </div>
                <div class="col-fourty">
                </div>
                <div class="clear"></div>
            @*    <div class="row-main-margin-btm">
                    <div class="col-hundred">
                        <label class="left">Cycles:</label>

                    </div>
                    <div class="modal-max-large-row scroll-window">
                        <div class="border-1">
                            <div class="col-fifteen">
                                <img src="images/nutrition1.jpg" height="100px" width="100px" />
                            </div>
                            <div class="col-sixty">
                                <span class="med-font-bld">Nutrition</span><span class="med-font">(Weeks 1-6)</span><br />
                                <hr />
                                Liveo Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This is here to offer you the ultimate fat burning program.        
                            </div>

                            <div class="clear"></div>
                        </div>



                        <div class="border-1">
                            <div class="col-fifteen">
                                <img src="images/profile-pic.jpg" height="100px" width="100px" />
                            </div>
                            <div class="col-sixty">
                                <span class="med-font-bld">Base Strength</span><span class="med-font">(Weeks 4-6)</span><br />
                                <hr />
                                Basic strength training to supplement the liveo beach diet.
                       
                            </div>
                            <div class="col-twenty txt-right">
                            </div>
                            <div class="clear"></div>
                        </div>
                    </div>
                </div>*@
                <div class="right">
                    <button link="modalokbutton" class="nav-btn-light">Close</button>

                </div>
            </div>
    </div>
</div>
<!--------------------------------------------------------- END _U20-10_ -------------------------------------------------------------->
