@{
    ViewBag.Title = "pvU20-10";
}
<!--------------------------------------------------------- BEGIN _U20-10_ Program Details --------------------------------------------->
<script>


    $(document).ready(function () {


    });



</script>
<div data-model="vmProgram">

    <div link="U20-10" class="panel invisible popupwindow">
        <a link="U20-10_link" rel="[link='U20-10']" style=""></a>
        @ViewBag.Title_U20-10

        <div class="wrapper-large height-medium">
                <div class="title">Program Details</div>
     
                <div class="col-fifty">
                    <label class="large-txt">
                        Title:
                        <span data-bind="html:editedProgramModel().Name">
                        </span>
                    </label>

                    <label class="large-txt">
                        Description:
                        <span  data-bind="html:editedProgramModel().GeneralDescription">
                        </span>
                    </label>

                </div>
                <div class="col-fourty">
                </div>
                <div class="clear"></div>
            
                <div class="right">
                    <button link="modalokbutton" class="nav-btn-light">Close</button>

                </div>
            </div>
    </div>
</div>
<!--------------------------------------------------------- END _U20-10_ -------------------------------------------------------------->
