
<!--------------------------------------------------------- BEGIN _US01_ User/Member Settings-------------------------------------------------->

<script>
    $(document).ready(function () {

        $('[link="US01_saveChangesButton"]').click(function () { US01_saveChanges(); });
      
        alert('second : ' + US01_userId);
        //ajax here to get the current user info:
        $.ajax({
            url: '/api/Liveo.Platform/UserApi?id=' + US01_userId,
            dataType: 'json',
            success: function (data) {
                jsonUser = data;

                _user_ViewModel.editedUserModel().Id(data.Id);
                _user_ViewModel.editedUserModel().Name(data.Name);
                _user_ViewModel.editedUserModel().DateOfBirth(data.DateOfBirth);
                _user_ViewModel.editedUserModel().GenderTypeId(data.GenderTypeId);
                _user_ViewModel.editedUserModel().IsInitialSurveyComplete(data.IsInitialSurveyComplete);
                _user_ViewModel.editedUserModel().UserName(data.UserName);
                _user_ViewModel.editedUserModel().CreateDate(data.CreateDate);
                _user_ViewModel.editedUserModel().LastUpdateDate(data.LastUpdateDate);
                _user_ViewModel.editedUserModel().LastLoginDate(data.LastLoginDate);
                _user_ViewModel.editedUserModel().LastLockoutDate(data.LastLockoutDate);
                _user_ViewModel.editedUserModel().LastActivityDate(data.LastActivityDate);
                _user_ViewModel.editedUserModel().LastPasswordChangeDate(data.LastPasswordChangeDate);
                _user_ViewModel.editedUserModel().FailedPasswordAttemptCount(data.FailedPasswordAttemptCount);
                _user_ViewModel.editedUserModel().FailedPasswordAttemptWindowStart(data.FailedPasswordAttemptWindowStart);
                _user_ViewModel.editedUserModel().FailedPasswordAnswerAttemptCount(data.FailedPasswordAnswerAttemptCount);
                _user_ViewModel.editedUserModel().FailedPasswordAnswerAttemptWindowStart(data.FailedPasswordAnswerAttemptWindowStart);
                _user_ViewModel.editedUserModel().Comment(data.Comment);
                _user_ViewModel.editedUserModel().PasswordSalt(data.PasswordSalt);
                _user_ViewModel.editedUserModel().Password(data.Password);
                _user_ViewModel.editedUserModel().LoweredEmail(data.LoweredEmail);
                _user_ViewModel.editedUserModel().Email(data.Email);
                _user_ViewModel.editedUserModel().PasswordFormat(data.PasswordFormat);
                _user_ViewModel.editedUserModel().IsOnline(data.IsOnline);
                _user_ViewModel.editedUserModel().IsLockedOut(data.IsLockedOut);
                _user_ViewModel.editedUserModel().IsApproved(data.IsApproved);
                _user_ViewModel.editedUserModel().PasswordAnswer(data.PasswordAnswer);
                _user_ViewModel.editedUserModel().PasswordQuestion(data.PasswordQuestion);
                _user_ViewModel.editedUserModel().PromotionCode(data.PromotionCode);
                _user_ViewModel.editedUserModel().Bio(data.Bio);
                _user_ViewModel.editedUserModel().PrimaryImage(data.PrimaryImage);
                _user_ViewModel.editedUserModel().SecondaryImage(data.SecondaryImage);
                _user_ViewModel.editedUserModel().BackgroundImage(data.BackgroundImage);
                _user_ViewModel.editedUserModel().City(data.City);
                _user_ViewModel.editedUserModel().State(data.State);
                _user_ViewModel.editedUserModel().Company(data.Company);
                _user_ViewModel.editedUserModel().Department(data.Department);
                _user_ViewModel.editedUserModel().Occupation(data.Occupation);
                _user_ViewModel.editedUserModel().FirstName(data.FirstName);
                _user_ViewModel.editedUserModel().LastName(data.LastName);

                _user_ViewModel.editedUserModel().Sex(data.Sex);
                _user_ViewModel.editedUserModel().HeightFeet(data.HeightFeet);
                _user_ViewModel.editedUserModel().HeightInches(data.HeightInches);
                _user_ViewModel.editedUserModel().Weight(data.Weight);
                _user_ViewModel.editedUserModel().GeneralHealth(data.GeneralHealth);
                _user_ViewModel.editedUserModel().PhoneHome(data.PhoneHome);
                _user_ViewModel.editedUserModel().PhoneCell(data.PhoneCell);
                _user_ViewModel.editedUserModel().PhoneOffice(data.PhoneOffice);
                _user_ViewModel.editedUserModel().Address(data.Address);
                _user_ViewModel.editedUserModel().ManageNotifications(data.ManageNotifications);
                _user_ViewModel.editedUserModel().Notifications(data.Notifications);

               
            },
            error: function (xhr, textStatus, errorThrown) {
            }
        });
    });

    function US01_saveChanges() {
        _user_ViewModel.commitEditedUserModel(US01_success, US01_fail);
    }

    function US01_success(msg) {
        $('[link="US01_message"]').html('Info saved.');
    }
    function US01_fail(msg) {
        alert('Failed to save user.');
    }

</script>
<div data-model="vmUser">

    <div link="US01" class="panel notinvisible">

        @ViewBag.Title_US01

        <div class="wrapper-large">


            <div class="title">Member Settings</div>
            <div class="col-fifty">
                <label class="large-txt">
                    Member Type:
        <span>
            <input type="text" value="Admin" />
        </span>
                </label>
            </div>
            <div class="col-fifty">
                <label class="large-txt">
                    First Name:
            <span>
                <input data-bind="value:editedUserModel().FirstName" type="text" value="Travis" />
            </span>
                </label>
                <label class="large-txt">
                    Sex:
            <span>
                <select>
                    <option>Select</option>
                    <option>Male</option>
                    <option>Female</option>
                </select>
            </span>
                </label>
                <label class="large-txt">
                    Company:
            <span>
                <input data-bind="value:editedUserModel().Company" type="text" />
            </span>
                </label>

                <label class="large-txt">
                    Occupation:
            <span>
                <input data-bind="value:editedUserModel().Occupation" type="text" />
            </span>
                </label>

                 <label class="large-txt">
                    Bio:
            <span>
                <textarea  data-bind="value:editedUserModel().Bio" ></textarea>
            </span>
                </label>


            </div>
            <div class="col-fourty">
                <label class="large-txt">
                    Last Name:
            <span>
                <input data-bind="value:editedUserModel().LastName" type="text" value="James" />
            </span>
                </label>
                <label class="large-txt">
                    Birthdate:
            <span>
                <input data-bind="value:editedUserModel().DateOfBirth" link="US01_birthdate" type="text" />
            </span>
                </label>
            </div>
            <div class="clear"></div>

            <div class="title">Media</div>
            <div class="col-hundred">
                <label>
                    Profile Picture
        <span>
            <input type="file" /></span>
                </label>
                <img src="@Href("../../Images/g10photos1.png")" width="80px" height="80px">


                <label>
                    Secondary Profile
        <span>
            <input type="file" /></span>
                </label>
                <img src="@Href("../../Images/g10photos2.png")" width="80px" height="80px">


                <label>
                    Profile Background
        <span>
            <input type="file" /></span>
                </label>
                <img src="@Href("../../Images/g10photos3.png")" width="80px" height="80px">

                <div class="clear"></div>
            </div>
            <div class="clear"></div>

            <div class="title margin-top-twenty">Basic Health Information</div>
            <div class="col-hundred">
                <label class="medium-txt">
                    Height:
            <span>
                <input data-bind="value:editedUserModel().HeightFeet" type="number" />
                ft. &nbsp
                <input data-bind="value:editedUserModel().HeightInches" type="number" />
                in.
            </span>
                </label>

                <label class="medium-txt">
                    Weight:
            <span>
                <input data-bind="value:editedUserModel().Weight" type="number" />
            </span>
                </label>

                <label class="medium-txt">
                    General Health:
            <span>
                <select data-bind="value: editedUserModel().GeneralHealth">
                    <option value="Poor">Select</option>
                    <option value="Poor">Poor</option>
                    <option value="Average">Average</option>
                    <option value="Good">Good</option>
                    <option value="Very Good">Very Good</option>
                </select>
            </span>
                </label>
            </div>
            <div class="clear"></div>

            <div class="title">Contact Information</div>
            <div class="col-hundred">
                <label class="large-txt">
                    Home Phone
            <span>
                <input data-bind="value:editedUserModel().PhoneHome" type="text" />
            </span>
                </label>

                <label class="large-txt">
                    Cell Phone
            <span>
                <input data-bind="value:editedUserModel().PhoneCell" type="text" />
            </span>
                </label>

                <label class="large-txt">
                    Office Phone
            <span>
                <input data-bind="value:editedUserModel().PhoneOffice" type="text" />
            </span>
                </label>

                <label class="large-txt">
                    Email:
            <span>
                <input data-bind="value:editedUserModel().Email" type="text" />
            </span>
                </label>

                <label class="large-txt">
                    Address:
            <span>
                <input data-bind="value:editedUserModel().Address" type="text" />
            </span>
                </label>

                <label class="large-txt">
                    City:
            <span>
                <input data-bind="value:editedUserModel().City" type="text" />
            </span>
                </label>

                <label class="large-txt">
                    State:
            <span>
                <select name="state" id="state" data-bind="value:editedUserModel().State">
                    <option value="ALL,US">-All United States-</option>
                    <option value="AL">Alabama</option>
                    <option value="AK">Alaska</option>
                    <option value="AZ">Arizona</option>
                    <option value="AR">Arkansas</option>
                    <option value="CA">California,US</option>
                    <option value="CO">Colorado,US</option>
                    <option value="CT">Connecticut,US</option>
                    <option value="DE">Delaware,US</option>
                    <option value="DC">District of Columbia,US</option>
                    <option value="FL">Florida,US</option>
                    <option value="GA">Georgia,US</option>
                    <option value="HI">Hawaii,US</option>
                    <option value="ID">Idaho,US</option>
                    <option value="IL">Illinois,US</option>
                    <option value="IN">Indiana,US</option>
                    <option value="IA">Iowa,US</option>
                    <option value="KS">Kansas,US</option>
                    <option value="KY">Kentucky,US</option>
                    <option value="LA">Louisana,US</option>
                    <option value="ME">Maine,US</option>
                    <option value="MD">Maryland,US</option>
                    <option value="MA">Massachusetts,US</option>
                    <option value="MI">Michigan,US</option>
                    <option value="MN">Minnesota,US</option>
                    <option value="MS">Mississippi,US</option>
                    <option value="MO">Missouri,US</option>
                    <option value="MT">Montana,US</option>
                    <option value="NE">Nebraska,US</option>
                    <option value="NV">Nevada,US</option>
                    <option value="NH">New Hampshire,US</option>
                    <option value="NJ">New Jersey,US</option>
                    <option value="NM">New Mexico,US</option>
                    <option value="NY">New York,US</option>
                    <option value="NC">North Carolina,US</option>
                    <option value="ND">North Dakota,US</option>
                    <option value="OH">Ohio,US</option>
                    <option value="OK">Oklahoma,US</option>
                    <option value="OR">Oregon,US</option>
                    <option value="PA">Pennsylvania,US</option>
                    <option value="RI">Rhode Island,US</option>
                    <option value="SC">South Carolina,US</option>
                    <option value="SD">South Dakota,US</option>
                    <option value="TN">Tennessee,US</option>
                    <option value="TX" selected>Texas,US</option>
                    <option value="UT">Utah,US</option>
                    <option value="VT">Vermont,US</option>
                    <option value="VA">Virginia,US</option>
                    <option value="WA">Washington,US</option>
                    <option value="WV">West Virginia,US</option>
                    <option value="WI">Wisconsin,US</option>
                    <option value="WY">Wyoming,US</option>
                </select>
            </span>
                </label>

                <label class="large-txt">
                    Password:
            <span>
                <input data-bind="value:editedUserModel().Password" type="password" />
            </span>
                </label>

                <label class="large-txt">
                    Retype Password:
            <span>
                <input type="password" />
            </span>
                </label>

            </div>
            <div class="clear"></div>

            <div class="title">Credit Card Info</div>
            <table class="col-full" summary="">
                <caption></caption>
                <thead>
                    <tr>
                        <th>Card Name</th>
                        <th>Card Number</th>
                        <th>Expiration Date</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tr1">
                        <td>Visa</td>
                        <td>*1423</td>
                        <td>1/1/2014</td>
                        <td><a>Delete</a></td>
                    </tr>
                    <tr class="tr2">
                        <td>Master Card</td>
                        <td>*6354</td>
                        <td>1/1/2015</td>
                        <td><a>Delete</a></td>
                    </tr>
                </tbody>
            </table>

            <div class="clear"></div>

            <div class="title">Notifications</div>
            <div class="col-hundred">
                <label class="large-txt">
                    <b>Select how I would like to manage my notifications:</b>
                    <span>
                        <input type="checkbox" />
                        Email
                <br />
                        <input type="checkbox" />
                        Text
                    </span>
                </label>


                <label class="large-txt">
                    <b>Select My Notifications:</b>
                    <span>

                        <input type="checkbox">JOURNAL COMMENTS
                <br />
                        <input type="checkbox">CHALLENGES
                <br />
                        <input type="checkbox">HEALTH TRACKER
                <br />
                        <input type="checkbox">HEALTH PROFILE
                <br />
                        <input type="checkbox">HEALTH RISKS
                <br />

                    </span>
                </label>

                <div class="right">
                    <button link="US01_saveChangesButton" class="segment-small-status-green">Save Member Settings</button>
                    <div link="US01_message"></div>
                </div>

            </div>
            <div class="clear"></div>
        </div>

    </div>
</div>

<div class="clear"></div>
<!--------------------------------------------------------- END _US01_ -------------------------------------------------------------->
