@{
    //ViewBag.EnableViewTitles = bool.Parse(System.Configuration.ConfigurationManager.AppSettings["EnableViewTitles"].ToString());
    ViewBag.EnableViewTitles = true;
}

@{
    if (ViewBag.EnableViewTitles)
    {
        ViewBag.Title_US01 = "US01";
    }
}



@{
Style.Require("reset");
Style.Require("font");
Style.Require("layout_ext");
Style.Require("modal");
Style.Require("jqui");
}

@{
Script.Require("jQuery").AtHead();
Script.Require("jquerytools").AtHead();
Script.Require("jqueryuijs").AtHead();
Script.Require("ko").AtHead();
Script.Require("livequery").AtHead();
Script.Require("komulti").AtHead();
Script.Require("common").AtHead();
Script.Require("viewModel_User").AtHead();

}

<script>
    var US01_userId = '@Session["CurrentUserId"].ToString()';
    var jsonUser;
    var _user_ViewModel = new User_ViewModel();
    ko.attach("vmUser", _user_ViewModel);   
</script>

<body style="text-transform: none;">
    @Html.Partial("pvUS01")
   
</body>

    
