@model Liveo.Platform.ViewModels.AlbumItemViewModel
           
<!-- G60_viewalbum -->
<div class="wrapper-large">
    <div class="module-header-row col-full">
        MY GALLERY (8)
        <button class="small-nav-btn-light">Edit Album</button>
        <button class="small-nav-btn-light">Delete Album</button>
        <a href="">
            <div class="module-header-media-link">
                NEW MEDIA
            </div>
        </a>
    </div>
    <div class="clear"></div>

    <ul class="media-list col-full">
        <li><a href="">
            <img src="Images/profile-pic.jpg" /></a></li>
        <li><a href="">
            <img src="Images/profile-pic.jpg" /></a></li>
        <li><a href="">
            <img src="Images/profile-pic.jpg" /></a></li>
        <li><a href="">
            <img src="Images/profile-pic.jpg" /></a></li>
        <li><a href="">
            <img src="Images/profile-pic.jpg" /></a></li>
    </ul>


</div>
