<div class="wrapper-modal-small">
    <div class="title">New Album</div>
    <div class="modal-tiny-row">
        <label>
            Name:
            <span class="large-txt">
                <input type="text" />
            </span>
        </label>
    </div>
    <div class="clear"></div>
    <div class="right">
        <button class="nav-btn-light">CANCEL</button>
        <button class="nav-btn-green">SAVE</button>
    </div>
</div>
