<div class="wrapper-modal-small">
    <div class="title">Upload Media</div>
    <div class="modal-tiny-row">
        <label>
            Name:
            <span>
                <input type="file" />
            </span>
        </label>
    </div>
    <div class="clear"></div>
    <div class="right">
        <button class="nav-btn-light">CANCEL</button>
        <button class="nav-btn-green">UPLOAD</button>
    </div>
</div>
