<div class="wrapper-modal-large">
    <div class="modal-large-two-col">
        <img src="Images/profile-pic.jpg" width="375px" />
    </div>
    <div class="modal-large-two-col">
        <div class="title">Upload Media</div>
        <label>
            File Name:
            <span>pic.jpg
            </span>
        </label>
        <label>
            Album Name:
            <span>Untitled Album
            </span>
        </label>
        <label>
            Title:
            <span class="large-txt">
                <input type="text" />
            </span>
        </label>
        <label>
            Description:
            <span class="large-txt">
                <textarea></textarea>
            </span>
        </label>
    </div>
    <div class="clear"></div>
    <div class="right">
        <button class="nav-btn-light">CANCEL</button>
        <button class="nav-btn-green">SAVE</button>
    </div>

</div>
