@model dynamic
           @{
               var ImgPath = Url.Content("~/Themes/TheAdmin/Styles/Images/");
           }
<div id="branding">
<div id="app">@Html.Link(T("Project Orchard").ToString(), Url.Content("~/"))</div>
    <div id="site"><a href="/"><img src="@(ImgPath + "logo.png")"></a></div>
</div>