@{
    ViewBag.Title = "GroupViewMain";
}

 <div class="wrapper-large">
        <div class="title">Dallas Pump Group (588 Members)</div>
        <div class="col-full">
            <div class="left">
                <button class="small-nav-btn-light">My Groups</button></div>
            <div class="right">
                <button class="small-nav-btn-light">Edit Group</button><button class="small-nav-btn-green">Create Group</button></div>
        </div>
        <div class="clear"></div>
        <hr />
        <div class="col-sixty">
            <div class="modal-max-small-row">
                <h2>Pump Group</h2><em>established 2012</em>
            </div>
                        <div class="modal-max-medium-row">
                            Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor.<br /><br />
                            Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor.
            </div>
        </div>
        <div class="right media-box">
                            <div class="group-symbol-large">
                    <img src="Images/group_ppl.png"></div>
            <img src="images/profile-pic.jpg" height="250px" width="250px" />
        </div>
        <div class="clear"></div>
        <div class="col-full">
        <div>
                <button class="segment-small-status-dark col-third">Announcements</button>
                <button class="segment-small-status-light col-third">Pictures</button>
                <button class="segment-small-status-light col-third">Members</button>
        </div>
            <div class="clear"></div>
            <div class="right margin-ten"><a>Add Challenges</a> | <a>Add Announcement</a></div>
        </div>
        <div class="modal-max-huge-row scroll-window">
            <div class="border-1">
                <div class="col-fifteen">

                    <img src="images/profile-pic.jpg" height="100px" width="100px" />
                </div>
                <div class="col-eighty">
                    <div class="modal-max-small-row">
                        <span class="med-font-bld">Complete 5 Trainings In 1 Week</span><br /><hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away.
                    </div>
                    <div class="col-hundred">
                        <div class="left light-font">Due Date: 12/3/2011</div>
                        <div class="right">
                            <button class="small-nav-btn-green">View Details</button>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
           <div class="border-1">
                <div class="col-fifteen">

                    <img src="images/profile-pic.jpg" height="100px" width="100px" />
                </div>
                <div class="col-eighty">
                    <div class="modal-max-small-row">
                        <span class="med-font-bld">Complete 5 Trainings In 1 Week</span><br /><hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away.
                    </div>
                    <div class="col-hundred">
                        <div class="left light-font">Due Date: 12/3/2011</div>
                        <div class="right">
                            <button class="small-nav-btn-green">View Details</button>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="border-1">
                <div class="col-fifteen">

                    <img src="images/profile-pic.jpg" height="100px" width="100px" />
                </div>
                <div class="col-eighty">
                    <div class="modal-max-small-row">
                        <span class="med-font-bld">Complete 5 Trainings In 1 Week</span><br /><hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away.
                    </div>
                    <div class="col-hundred">
                        <div class="left light-font">Due Date: 12/3/2011</div>
                        <div class="right">
                            <button class="small-nav-btn-green">View Details</button>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>
            <div class="border-1">
                <div class="col-fifteen">

                    <img src="images/profile-pic.jpg" height="100px" width="100px" />
                </div>
                <div class="col-eighty">
                    <div class="modal-max-small-row">
                        <span class="med-font-bld">Complete 5 Trainings In 1 Week</span><br /><hr />
                        Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away.
                    </div>
                    <div class="col-hundred">
                        <div class="left light-font">Due Date: 12/3/2011</div>
                        <div class="right">
                            <button class="small-nav-btn-green">View Details</button>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div>

    </div>