@{
    ViewBag.Title = "GroupViewPictures";
}

 <div class="wrapper-large">
        <div class="title">Dallas Pump Group (588 Members)</div>
        <div class="col-full">
            <div class="left">
                <button class="small-nav-btn-light">My Groups</button></div>
            <div class="right">
                <button class="small-nav-btn-light">Edit Group</button><button class="small-nav-btn-green">Create Group</button></div>
        </div>
        <div class="clear"></div>
        <hr />
        <div class="col-sixty">
            <div class="modal-max-small-row">
                <h2>Pump Group</h2><em>established 2012</em>
            </div>
                        <div class="modal-max-medium-row">
                            Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor.<br /><br />
                            Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor.
            </div>
        </div>
        <div class="right media-box">
                            <div class="group-symbol-large">
                    <img src="Images/group_ppl.png"></div>
            <img src="images/profile-pic.jpg" height="250px" width="250px" />
        </div>
        <div class="clear"></div>
        <div class="col-full">
        <div>
                <button class="segment-small-status-dark col-third">Announcements</button>
                <button class="segment-small-status-light col-third">Pictures</button>
                <button class="segment-small-status-light col-third">Members</button>
        </div>
            <div class="clear"></div>
            <div class="right margin-ten"><a>Add Pictures</a></div>
        </div>
                    <ul class="media-list col-full"><li><a href=""><img src="Images/profile-pic.jpg" /></a></li><li><a href=""><img src="Images/profile-pic.jpg" /></a></li><li><a href=""><img src="Images/profile-pic.jpg" /></a></li><li><a href=""><img src="Images/profile-pic.jpg" /></a></li><li><a href=""><img src="Images/profile-pic.jpg" /></a></li>
        </ul>

    </div>