@{
    ViewBag.Title = "GroupMySubscriptions";
}

<div class="my-group-wrap">
    <span id="my-group-header-title">My Groups - Dallas Pump Group (1388 members)
        </span>
    <div class="clear"></div>
    <div class="my-group-topbtns">
        <div class="left">
            <a onclick="cont();" title="Continue" href="javascript:void(0);"
                class="primaryButton button" tabindex="0" style="">
                <div class="box">
                    <div class="boxContent">
                        <div class="padding">MY GROUPS</div>
                    </div>
                </div>
            </a>
        </div>

        <div class="right">
            <a id="a4" onclick="cont();" title="Continue" href="javascript:void(0);"
                class="primaryButton button" tabindex="0" style="">
                <div class="box">
                    <div class="boxContent">
                        <div class="padding">SUBSCRIBE TO PEOPLE</div>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <div class="clear"></div>
    <div class="new-subscriber-container">
        <div id="new-subscriber">
            <div id="enter-new-subscriber">
                <div id="add-new-subscriber">
                    <img src="../Images/profile-pic.jpg" height="100px" width="100px" />
                </div>
                <div id="new-subscriber-info">
                    <span class="left">MARGE SIMPSON</span><br />
                    <hr />
                    <div id="new-subscriber-description">
                        LAST POST: Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
                           
                    </div>
                    <label>Members: 4045</label>

                    <div class="right">
                        <a id="a1" onclick="cont();" title="Continue" href="javascript:void(0);"
                            class="primaryButtonGreen button" tabindex="0" style="">
                            <div class="box">
                                <div class="boxContent">
                                    <div class="padding">VIEW PROFILE</div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
