@{
    ViewBag.Title = "GroupEdit";
}

 <div class="wrapper-modal-small">
        <div class="title">Edit Group - Pump Up Group</div>
        <label class="large-txt">
            Title:
            <span>
                <input type="text" />
            </span>
        </label>
        <label class="large-txt">
            Description:
            <span>
                <textarea>stuff into here</textarea>
            </span>
        </label>
        <label>
            Photo:
            <span>
                <input type="file" /></span>
        </label>
        <label class="medium-txt">
            Admin List:
            <span>
                <textarea class="left">stuff into here</textarea>
                <div class="modal-small-three-col">
            <button class="small-nav-btn-light">ADD</button>
            <button class="small-nav-btn-light">REMOVE</button>
                </div>
            </span>
        </label>
        <div class="right">
            <button class="nav-btn-light">CANCEL</button>
            <button class="nav-btn-green">SAVE</button>
        </div>
    </div>