@{
    ViewBag.Title = "GroupViewMembers";
}

 <div class="wrapper-large">
        <div class="title">Dallas Pump Group (588 Members)</div>
        <div class="col-full">
            <div class="left">
                <button class="small-nav-btn-light">My Groups</button>
            </div>
            <div class="right">
                <button class="small-nav-btn-light">Edit Group</button>
                <button class="small-nav-btn-green">Create Group</button>
            </div>
        </div>
        <div class="clear"></div>
        <hr />
        <div class="col-sixty">
            <div class="modal-max-small-row">
                <h2>Pump Group</h2>
                <em>established 2012</em>
            </div>
            <div class="modal-max-medium-row">
                Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor.<br />
                <br />
                Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor, Lorem ipsum dolor.
            </div>
        </div>
        <div class="right media-box">
            <div class="group-symbol-large">
                <img src="Images/group_ppl.png">
            </div>
            <img src="images/profile-pic.jpg" height="250px" width="250px" />
        </div>
        <div class="clear"></div>
        <div class="col-full">
            <div>
                <button class="segment-small-status-dark col-third">Announcements</button>
                <button class="segment-small-status-light col-third">Pictures</button>
                <button class="segment-small-status-light col-third">Members</button>
            </div>
            <div class="clear"></div>
            <div class="right margin-ten"><a>Invite Members</a></div>
        </div>

        <table class="col-full" summary="">
            <caption></caption>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Joined On</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr1">
                    <td>Guy Smiley</td>
                    <td>guy@me.com</td>
                    <td>8/12/2012</td>
                    <td><a>Remove</a></td>
                </tr>
                <tr class="tr2">
                    <td>Guy Smiley</td>
                    <td>guy@me.com</td>
                    <td>8/12/2012</td>
                    <td><a>Remove</a></td>
                </tr>
            </tbody>
        </table>

    </div>