@{
    ViewBag.Title = "GroupInviteMembers";
}

<div class="wrapper-medium border-1">
        <div class="title">Member Search</div>

        <label class="auto-txt">
            <span>
                <input type="text" placeholder="Enter search term.." />
            </span>
        </label>
            <div class="modal-max-huge-row scroll-window">
                <div class="border-1">
                    <div class="col-fifteen">

                        <img src="images/profile-pic.jpg" height="80px" width="80px" />
                    </div>
                    <div class="col-eighty">
                        <div class="modal-max-small-row">
                            <span class="med-font-bld">Fat Loss Program</span><br />
                            Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away.
                        </div>
                        <div class="col-hundred">
                            <div class="left light-font">Member Since: 12/3/2011</div>
                            <div class="right">
                                <button class="small-nav-btn-green">View Profile</button>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="images/profile-pic.jpg" height="80px" width="80px" />
                    </div>
                    <div class="col-eighty">
                        <div class="modal-max-small-row">
                            <span class="med-font-bld">Fat Loss Program</span><br />
                            Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away.
                        </div>
                        <div class="col-hundred">
                            <div class="left light-font">Member Since: 12/3/2011</div>
                            <div class="right">
                                <button class="small-nav-btn-green">View Profile</button>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="images/profile-pic.jpg" height="80px" width="80px" />
                    </div>
                    <div class="col-eighty">
                        <div class="modal-max-small-row">
                            <span class="med-font-bld">Fat Loss Program</span><br />
                            Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away.
                        </div>
                        <div class="col-hundred">
                            <div class="left light-font">Member Since: 12/3/2011</div>
                            <div class="right">
                                <button class="small-nav-btn-green">View Profile</button>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="images/profile-pic.jpg" height="80px" width="80px" />
                    </div>
                    <div class="col-eighty">
                        <div class="modal-max-small-row">
                            <span class="med-font-bld">Fat Loss Program</span><br />
                            Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away.
                        </div>
                        <div class="col-hundred">
                            <div class="left light-font">Member Since: 12/3/2011</div>
                            <div class="right">
                                <button class="small-nav-btn-green">View Profile</button>
                            </div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>

        <div class="right margin-top-ten">
            <button class="nav-btn-green">INVITE TO GROUP</button>
        </div>
    </div>