@{
    ViewBag.Title = "GroupPrivateNotification";
}

    <div class="wrapper-medium border-1">
                            <span class="med-font-bld left">Fat Loss Program</span>
                               <div class="clear"></div>

                            <hr />
                            <div class="modal-max-small-row">
                                <div class="col-eighty">
                            Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away.
                                </div><div class="btm-rt"><button class="small-nav-btn-green">OK</button></div></div>
                        <div class="clear"></div>
                    </div>

    </div>
