@{
    ViewBag.Title = "GR20-20_group_private_notification";
}

<div link="GR20-20" class="invisible panel">

    @*    <div style="position:absolute; top:0px; left:0px;">*@

    <a link="GR20-20_link" rel="[link='GR20-20']" style=""></a>
    @ViewBag.Title_GR20_20
    <div class="wrapper-medium border-1 whiteback">
        <span class="med-font-bld left">Fat Loss Program</span>
        <div class="clear"></div>

        <hr />
        <div class="modal-max-small-row">
            <div class="col-eighty">
                Larry North's Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away.
            </div>
            <div class="btm-rt">
                <button link="modalokbutton" class="small-nav-btn-green">OK</button>
            </div>
        </div>
        <div class="clear"></div>
    </div>
    @* </div>*@
</div>


