@{
    ViewBag.Title = "GR40-30_viewgroup_members";
}

<div link="GR40-30" class="panel invisible">
    <a   link="GR40-30_link" rel="[link='GR40-30']" style=""></a>
    @ViewBag.Title_GR40_30 
    <div class="wrapper-large">
        <div class="title">Dallas Spin Group (588 Members)</div>
        <div class="col-full">
            <div class="left">
                <button link="GR40-30_BackToMyGroups" class="small-nav-btn-light">My Groups</button>
            </div>
           <div class="right">
                <button link="GR40-10_EditGroup" class="small-nav-btn-light">Edit Group</button>
            </div>
        </div>
        <div class="clear"></div>
        <hr />
        <div class="col-sixty">
            <div class="modal-max-small-row">
                <h2>Spin Group</h2>
                <em>established 2012</em>
            </div>
            <div class="modal-max-medium-row">
              Spin Bike Shop is proud to be considered the home-base for many cyclists and triathletes in our area.

 

Club Spin serves as the foundation for our teams and anyone is welcome to join! Membership includes access to our rides and workouts, special events, rider forum, and more.

 

Team Spin / RR Donnelley is our bicycle racing team that was created not only to showcase the talents of our best Club Spin riders, but also to act as a place where aspiring junior racers can get the help and assistance they need to move up from beginning to expert racers.

 

SSSMST(Spin/Second Sole Multi-Sport Team) is a partnership between Spin Bike Shop andSecond Sole of Rocky River. A development from Club Spin and the Second Sole Running Group, this team concentrates on triathlon and duathlon competition.            </div>
        </div>
        <div class="right media-box">
            <div class="group-symbol-large">
                <img src="@Href("../../Images/group_ppl.png")">
            </div>
            <img src="@Href("../../images/spingroup.jpg")" height="250px" width="250px" />
        </div>
        <div class="clear"></div>
        <div class="col-full">
            <div>
                <button link="GR40-30_Announcements" class="segment-small-status-light col-third">Announcements</button>
                <button link="GR40-30_Pictures" class="segment-small-status-light col-third">Pictures</button>
                <button class="segment-small-status-dark col-third">Members</button>
            </div>
            <div class="clear"></div>
            <div class="right margin-ten"><a   link="GR40-30_InviteMembers">Invite Members</a></div>
        </div>

        <table class="col-full" summary="">
            <caption></caption>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Joined On</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr class="tr1">
                    <td>Larry Byrd</td>
                    <td>larry@bryd.com</td>
                    <td>8/12/2012</td>
                    <td><a>Remove</a></td>
                </tr>
                <tr class="tr2">
                    <td>Jim Zorn</td>
                    <td>Jim@zorn.com</td>
                    <td>8/12/2012</td>
                    <td><a>Remove</a></td>
                </tr>
            </tbody>
        </table>

    </div>
</div>

