@using Kendo.Mvc.UI
@{
    Script.Require("jQuery").AtHead();
    Script.Require("kendo").AtHead();
    Style.Require("jQueryUI_Orchard");
    Style.Require("kendo.common");
    Style.Require("kendo.metro");
    
}
<h3>Registration Complete</h3>
<p>@Html.ActionLink("TAKE SURVEY", "", "Survey")</p>
<p>@Html.ActionLink("SKIP SURVEY", "", "HealthPlan")</p>
