@using Kendo.Mvc.UI
@{
    Script.Require("jQuery").AtHead();
    Script.Require("kendo").AtHead();
    Style.Require("jQueryUI_Orchard");
    Style.Require("kendo.common");
    Style.Require("kendo.metro");
    Style.Require("reset");
    Style.Require("font");
    Style.Require("layout");
}



<link href="css.css" rel="stylesheet" type="text/css">
<html>
<body>
    <form action="fitness_survey.php" method="post">
        <div  class="title">Demographics</div>
        <hr />
        <table width="680" border="0" align="center" cellpadding="0" cellspacing="0" class="border">
            <tr>
                <td width="699"></td>
            </tr>
            <tr>
                <td>
                    <table width="650" border="0" cellpadding="10" cellspacing="0">
                        <tr>
                            <td>
                                <table width="650" border="0" cellspacing="0" cellpadding="0">
                                    <tr>
                                        <td width="219" class="field_name">First Name:</td>
                                        <td width="204" class="field_name">Last Name:</td>
                                        <td width="237" class="field_name">Street Address:</td>
                                    </tr>
                                    <tr>
                                        <td valign="top">
                                            <input name="first_name" type="text" id="first_name" size="30"></td>
                                        <td valign="top">
                                            <input name="last_name" type="text" id="last_name" size="30"></td>
                                        <td>
                                            <input name="address" type="text" id="address" size="30"></td>
                                    </tr>
                                    <tr>
                                        <td class="field_name">City: </td>
                                        <td class="field_name">State</td>
                                        <td valign="bottom">
                                            <p><span class="field_name">Zip:</span></p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td valign="top">
                                            <input name="city" type="text" id="city" size="30"></td>
                                        <td valign="middle">
                                            <select name="state" id="state">
                                                <option value="ALL,US" selected>-All United States-</option>
                                                <option value="AL">Alabama</option>
                                                <option value="AK">Alaska</option>
                                                <option value="AZ">Arizona</option>
                                                <option value="AR">Arkansas</option>
                                                <option value="CA">California,US</option>
                                                <option value="CO">Colorado,US</option>
                                                <option value="CT">Connecticut,US</option>
                                                <option value="DE">Delaware,US</option>
                                                <option value="DC">District of Columbia,US</option>
                                                <option value="FL">Florida,US</option>
                                                <option value="GA">Georgia,US</option>
                                                <option value="HI">Hawaii,US</option>
                                                <option value="ID">Idaho,US</option>
                                                <option value="IL">Illinois,US</option>
                                                <option value="IN">Indiana,US</option>
                                                <option value="IA">Iowa,US</option>
                                                <option value="KS">Kansas,US</option>
                                                <option value="KY">Kentucky,US</option>
                                                <option value="LA">Louisana,US</option>
                                                <option value="ME">Maine,US</option>
                                                <option value="MD">Maryland,US</option>
                                                <option value="MA">Massachusetts,US</option>
                                                <option value="MI">Michigan,US</option>
                                                <option value="MN">Minnesota,US</option>
                                                <option value="MS">Mississippi,US</option>
                                                <option value="MO">Missouri,US</option>
                                                <option value="MT">Montana,US</option>
                                                <option value="NE">Nebraska,US</option>
                                                <option value="NV">Nevada,US</option>
                                                <option value="NH">New Hampshire,US</option>
                                                <option value="NJ">New Jersey,US</option>
                                                <option value="NM">New Mexico,US</option>
                                                <option value="NY">New York,US</option>
                                                <option value="NC">North Carolina,US</option>
                                                <option value="ND">North Dakota,US</option>
                                                <option value="OH">Ohio,US</option>
                                                <option value="OK">Oklahoma,US</option>
                                                <option value="OR">Oregon,US</option>
                                                <option value="PA">Pennsylvania,US</option>
                                                <option value="RI">Rhode Island,US</option>
                                                <option value="SC">South Carolina,US</option>
                                                <option value="SD">South Dakota,US</option>
                                                <option value="TN">Tennessee,US</option>
                                                <option value="TX">Texas,US</option>
                                                <option value="UT">Utah,US</option>
                                                <option value="VT">Vermont,US</option>
                                                <option value="VA">Virginia,US</option>
                                                <option value="WA">Washington,US</option>
                                                <option value="WV">West Virginia,US</option>
                                                <option value="WI">Wisconsin,US</option>
                                                <option value="WY">Wyoming,US</option>
                                            </select></td>
                                        <td>
                                            <input name="zip" type="text" id="zip" size="10"></td>
                                    </tr>
                                    <tr>
                                        <td height="19"><span class="field_name">Email Address:</span></td>
                                        <td><span class="field_name">Phone:</span></td>
                                        <td><span class="field_name">Age:</span> </td>
                                    </tr>
                                    <tr>
                                        <td height="32" valign="top">
                                            <input name="email" type="text" id="email"></td>
                                        <td valign="top">
                                            <input name="phone" type="text" id="phone">
                                        </td>
                                        <td valign="top">
                                            <p>
                                                <input name="age" type="text" id="age" size="3" maxlength="3">
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" valign="top">

                                            <table width="650" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td width="218" class="field_name">Gender:</td>
                                                    <td width="204" class="field_name">Household income:</td>
                                                    <td width="228" class="field_name">Ethnicity:</td>
                                                </tr>
                                                <tr>
                                                    <td height="35">
                                                        <select name="gender" id="select3">
                                                            <option value="select">
                                                            select
                 
                                                            <option value="male">
                                                            male
                 
                                                            <option value="female">
                                                            female
                         
                                                        </select></td>
                                                    <td>
                                                        <input name="income" type="text" id="zip3" size="10"></td>
                                                    <td>
                                                        <select name="marital" id="select4">
                                                            <option value="select">select </option>
                                                            <option value="single">Black </option>
                                                            <option value="married">Caucasian</option>
                                                            <option value="divorced">Asian</option>
                                                            <option value="separated">Hispanic</option>
                                                            <option value="widow">American Indian</option>
                                                        </select></td>
                                                </tr>

                                                <tr>
                                                    <td height="22" class="field_name"></td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" class="field_name"></td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                            </table>



                                            <table width="650" border="0" cellspacing="0" cellpadding="0">
                                                <tr>
                                                    <td width="218" class="field_name">DOB:</td>
                                                    <td width="204" class="field_name">Height:</td>
                                                    <td width="228" class="field_name">Weight:</td>
                                                </tr>
                                                <tr>
                                                    <td height="35">
                                                        <input type="date" />
                                                        </td>
                                                    <td>
                                                        <input name="income" type="text" size="10">

                                                    </td>
                                                    <td>

                                                        <input name="income" type="text" size="10">

                                                    </td>
                                                </tr>

                                                <tr>
                                                    <td height="22" class="field_name"></td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                                <tr>
                                                    <td valign="top" class="field_name"></td>
                                                    <td>&nbsp;</td>
                                                    <td>&nbsp;</td>
                                                </tr>
                                            </table>




                                            <div  class="title">Define a Goal</div>
                                            <hr />

                                            <label>
                                                By this date:
            <span>
                <input type="text" link="goaldate_goal" />
            </span>
                                            </label>
                                            <label>
                                                I want to:
                    <span>
                        <input size="60" link="txtGoalName" value="" />
                    </span>
                                            </label>
                                            <label class="auto-txt">
                                                Type of goal 
                    <br />

                                                <select>
                                                    <option>Choose Goal...</option>
                                                    <option>Lose Weight</option>
                                                    <option>Lower Bloodpressure</option>
                                                    <option>Endurance Training</option>
                                                    <option>Weight Training</option>
                                                </select>
                                            </label>
                                            <br />
                                            <br />
                                            <div  class="title">Fitness Questions</div>
                                            <hr />
                                            <table width="650" border="0" cellspacing="0" cellpadding="5">
                                                <tr>
                                                    <td valign="top"><span class="field_name">Please tell us which of the outdoor activities you 

are involved in:</span>
                                                        <table width="650" border="0">
                                                            <tr>
                                                                <td width="30">
                                                                    <input name="Nautilus" type="checkbox" id="Nautilus" value="Nautilus" /></td>
                                                                <td width="177" class="form_text">Nautilus</td>
                                                                <td width="30">
                                                                    <input name="Fitness_Training" type="checkbox" id="Fitness_Training" value="Fitness_Training" /></td>
                                                                <td width="161" class="form_text">Fitness Training</td>
                                                                <td width="30">
                                                                    <input name="Dance" type="checkbox" id="Dance" value="Dance" /></td>
                                                                <td width="196" class="form_text">Dance</td>
                                                            </tr>
                                                            <tr>
                                                                <td width="30">
                                                                    <input name="Free_Weights" type="checkbox" id="Free_Weights" value="Free_Weights" /></td>
                                                                <td width="177" class="form_text">Free Weights</td>
                                                                <td width="30" class="form_text">
                                                                    <input name="Tennis" type="checkbox" id="Tennis" value="Tennis" /></td>
                                                                <td width="161" class="form_text">Tennis</td>
                                                                <td width="30" class="form_text">
                                                                    <input name="Racquetball" type="checkbox" id="Racquetball" value="Racquetball" /></td>
                                                                <td width="196" class="form_text">Racquetball</td>
                                                            </tr>
                                                            <tr>
                                                                <td width="30">
                                                                    <input name="Running" type="checkbox" id="Running" value="Running" /></td>
                                                                <td width="177" class="form_text">Running</td>
                                                                <td width="30" class="form_text">
                                                                    <input name="Golf" type="checkbox" id="Golf" value="Golf" /></td>
                                                                <td width="161" class="form_text">Golf</td>
                                                                <td width="30" class="form_text">
                                                                    <input name="Bicycling" type="checkbox" id="Bicycling" value="Bicycling" /></td>
                                                                <td width="196" class="form_text">Bicycling</td>
                                                            </tr>
                                                            <tr>
                                                                <td width="30">
                                                                    <input name="Walking" type="checkbox" id="Walking" value="Walking" /></td>
                                                                <td width="177" class="form_text">Walking</td>
                                                                <td width="30" class="form_text">
                                                                    <input name="Swimming" type="checkbox" id="Swimming" value="Swimming" /></td>
                                                                <td width="161" class="form_text">Swimming</td>
                                                                <td width="30" class="form_text">
                                                                    <input name="Nutritional_Supplements" type="checkbox" id="Nutritional_Supplements" value="Nutritional_Supplements" /></td>
                                                                <td width="196" class="form_text">Nutritional Supplements</td>
                                                            </tr>
                                                            <tr>
                                                                <td width="30">
                                                                    <input name="Pilates" type="checkbox" id="Pilates" value="Pilates" /></td>
                                                                <td width="177" class="form_text">Pilates</td>
                                                                <td width="30" class="form_text">
                                                                    <input name="Aerobics" type="checkbox" id="Swimming7" value="Aerobics" /></td>
                                                                <td width="161" class="form_text">Aerobics</td>
                                                                <td width="30" class="form_text">
                                                                    <input name="Vitamins" type="checkbox" id="Vitamins" value="Vitamins" /></td>
                                                                <td width="196" class="form_text">Vitamins</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <input name="Yoga" type="checkbox" id="Yoga" value="Yoga" /></td>
                                                                <td class="form_text">Yoga</td>
                                                                <td class="form_text">
                                                                    <input name="Weight_loss" type="checkbox" id="Aerobics" value="Weight_loss" /></td>
                                                                <td class="form_text">Weight loss</td>
                                                                <td class="form_text">&nbsp;</td>
                                                                <td class="form_text">&nbsp;</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td width="345" valign="top">
                                                        <p class="field_name">
                                                            How often do you participate
                        in this fitness activity?
                                                        </p>
                                                        <p>
                                                            <select name="How_often" id="How_often">
                                                                <option selected>Select</option>
                                                                <option value="Once a week">Once a week</option>
                                                                <option value="Twice a week">Twice a week</option>
                                                                <option value="3 times a week">3 times a week</option>
                                                                <option value="4 times a week">4 times a week</option>
                                                                <option value="5 times a week">5 times a week</option>
                                                                <option value="6 times a week">6 times a week</option>
                                                                <option value="7 times a week">7 times a week</option>
                                                                <option value="Once a month">Once a month</option>
                                                                <option value="Once every 3 months">Once every 3 months</option>
                                                                <option value="Rarely">Rarely</option>
                                                            </select>
                                                            <br>
                                                        </p>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top"><span class="field_name">Are you currently
                        a member of a fitness facility?</span><br />
                                                        <input type="radio" name="facility_member" value="Yes" />
                                                        <span class="form_text">Yes</span><br />
                                                        <input type="radio" name="facility_member" value="No" />
                                                        <span class="form_text">No</span></td>
                                                </tr>
                                                <tr>
                                                    <td valign="top"><span class="field_name">Which fitness facility
                        do you currently belong to?</span><br />
                                                        <input name="fitness_facility" type="text" id="fitness_facility" size="50" /></td>
                                                </tr>
                                                <tr>
                                                    <td valign="top"><span class="field_name">Are you currently
                        a member of a weight loss program?</span><br />
                                                        <input type="radio" name="facility_member" value="Yes" />
                                                        <span class="form_text">Yes</span><br />
                                                        <input type="radio" name="facility_member" value="No" />
                                                        <span class="form_text">No</span></td>
                                                </tr>
                                                <tr>
                                                    <td valign="top"><span class="field_name">Which weight loss
                        program do you currently belong to?</span><br>
                                                        <input name="weight_loss_program" type="text" id="weight_loss_program" size="50" /></td>
                                                </tr>
                                                <tr>
                                                    <td height="80" valign="top">
                                                        <table width="350" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td colspan="3" class="field_name"><span class="field_name">Do
                              you prefer to exercise at:</span></td>
                                                            </tr>
                                                            <tr>
                                                                <td width="93" class="form_text">Home</td>
                                                                <td width="60">
                                                                    <input type="radio" name="Prefer_Home" value="Yes">
                                                                    <span class="form_text">Yes</span>                          </td>
                                                                <td width="197" class="form_text">
                                                                    <input type="radio" name="Prefer_Home" value="No">
                                                                    No                          </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="form_text">Fitness Facility</td>
                                                                <td>
                                                                    <input type="radio" name="prefer_fitness_facility" value="Yes">
                                                                    <span class="form_text">Yes</span></td>
                                                                <td class="form_text">
                                                                    <input type="radio" name="prefer_fitness_facility" value="No">
                                                                    No</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top">
                                                        <table width="303" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td colspan="2" class="field_name">Do you currently
                              own:</td>
                                                            </tr>
                                                            <tr>
                                                                <td width="34">
                                                                    <input type="radio" name="currently_own" value="Fitness equipment">
                                                                </td>
                                                                <td width="282" class="form_text">Fitness equipment</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <input type="radio" name="currently_own" value="Instructional exercise videos">
                                                                </td>
                                                                <td class="form_text">Instructional exercise videos</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <input type="radio" name="currently_own" value="Fitness magazines">
                                                                </td>
                                                                <td class="form_text">Fitness magazines</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top">
                                                        <table width="304" border="0" cellspacing="0" cellpadding="0">
                                                            <tr>
                                                                <td colspan="2" class="field_name">Are you currently
                          taking:</td>
                                                            </tr>
                                                            <tr>
                                                                <td width="34">
                                                                    <input type="radio" name="currently_taking" value="Nutritional supplements" />
                                                                </td>
                                                                <td width="270" class="form_text">Nutritional supplements</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <input type="radio" name="currently_taking" value="Vitamins" />
                                                                </td>
                                                                <td class="form_text">Vitamins</td>
                                                            </tr>
                                                            <tr>
                                                                <td>
                                                                    <input type="radio" name="currently_taking" value="Both" />
                                                                </td>
                                                                <td class="form_text">Both</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td valign="top">
                                                        <table width="306" border="0">
                                                            <tr>
                                                                <td colspan="2" class="field_name">Do you have an interest
                          in learning more about </td>
                                                            </tr>
                                                            <tr>
                                                                <td width="34">
                                                                    <input name="Interest_learning_about1" type="checkbox" id="Auto2" value="Nutritional supplements" />
                                                                </td>
                                                                <td width="262" class="form_text">Nutritional supplements</td>
                                                            </tr>
                                                            <tr>
                                                                <td width="34">
                                                                    <input name="Interest_learning_about2" type="checkbox" id="Boat2" value="Vitamins" />
                                                                </td>
                                                                <td width="262" class="form_text">Vitamins</td>
                                                            </tr>
                                                            <tr>
                                                                <td width="34">
                                                                    <input name="Interest_learning_about3" type="checkbox" id="Canoe2" value="Both" />
                                                                </td>
                                                                <td width="262" class="form_text">Both</td>
                                                            </tr>
                                                        </table>
                                                    </td>
                                                </tr>
                                            </table>
                                            <p>
                                                <br>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" valign="top">
                                            <div align="center">
                                                <font color="#b5224d" size="-2" face="Verdana, Arial, Helvetica, sans-serif"><strong>Thank you for
                  your time. The information you provided will help us bring
                  you only targeted offers that will save you time in your busy
                  schedule.</strong></font>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" valign="top"><font size="1" face="Arial, Helvetica, sans-serif"><br>
                  <span class="form_text">Unless I have checked any of the boxes
                    below, Take 5 Solutions, LLC will assume that I do not mind receiving
                    online, postal or SMS offers:<BR>
&nbsp;&nbsp; <BR>
                  <input name="online_offers" type="checkbox" id="online_offers" value="no">
                  I would   prefer not to receive online offers, product information, specials,
                  updates from third party advertisers<BR>                
                  &nbsp; <BR>
                  <input name="postal_offers" type="checkbox" id="postal_offers" value="No">
                  I would prefer not to receive postal offers, product   information, specials,
                  updates from third party advertisers
                  <br />
                  <input name="Optin" type="checkbox" id="Opt-in" value="No" />
                  I have read the <a href="http://www.take5s.com/index.php?option=com_content&amp;task=view&amp;id=38&amp;itemid=999999&amp;Itemid=46" target="_blank">Privacy
                  Policy</a></span></font><font face="Arial, Helvetica, sans-serif">&nbsp;</font><font face="Arial, Helvetica, sans-serif"><span class="form_text"></span></font></td>
                                    </tr>
                                    <tr>
                                        <td valign="top">&nbsp;</td>
                                        <td valign="top">&nbsp;</td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td valign="top"><br /><a href="/ChooseProgram">Submit Survey</a><br /></td>
                                        <td valign="top">
                                        </td>
                                        <td>&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="3" valign="top"><font color="#666666" size="1" face="Arial, Helvetica, sans-serif">To opt-out,
                  please <a href="/" target="_blank">click
                here.</a></font></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
        <table width="680" border="0" align="center" cellpadding="0" cellspacing="0" bordercolor="#FFFFFF" style="font-family: Arial, Helvetica, sans-serif; font-size: 11px; color: #333333; line-height: 16px;">
            <tr>
                <td width="690" height="0" align="left" valign="top" style="padding: 8px 8px 8px 15px;">
                    <p>
                        <br />
                    </p>
                </td>
            </tr>
        </table>
    </form>
</body>
</html>


@*<div class="surveydisplay wrapper-large">    
    <table width="650" border="0" cellspacing="0" cellpadding="5">
        <tr>
            <td valign="top"><span class="field_name">Please tell us which of the outdoor activities you 

                                 are involved in:</span>
                <table width="650" border="0">
                    <tr>
                        <td width="30">
                            <input name="Nautilus" type="checkbox" id="Nautilus" value="Nautilus" /></td>
                        <td width="177" class="form_text">Nautilus</td>
                        <td width="30"><input name="Fitness_Training" type="checkbox" id="Fitness_Training" value="Fitness_Training" /></td>
                        <td width="161" class="form_text">Fitness Training</td>
                        <td width="30"><input name="Dance" type="checkbox" id="Dance" value="Dance" /></td>
                        <td width="196" class="form_text">Dance</td>
                    </tr>
                    <tr>
                        <td width="30"><input name="Free_Weights" type="checkbox" id="Free_Weights" value="Free_Weights" /></td>
                        <td width="177" class="form_text">Free Weights</td>
                        <td width="30" class="form_text"><input name="Tennis" type="checkbox" id="Tennis" value="Tennis" /></td>
                        <td width="161" class="form_text">Tennis</td>
                        <td width="30" class="form_text"><input name="Racquetball" type="checkbox" id="Racquetball" value="Racquetball" /></td>
                        <td width="196" class="form_text">Racquetball</td>
                    </tr>
                    <tr>
                        <td width="30"><input name="Running" type="checkbox" id="Running" value="Running" /></td>
                        <td width="177" class="form_text">Running</td>
                        <td width="30" class="form_text"><input name="Golf" type="checkbox" id="Golf" value="Golf" /></td>
                        <td width="161" class="form_text">Golf</td>
                        <td width="30" class="form_text"><input name="Bicycling" type="checkbox" id="Bicycling" value="Bicycling" /></td>
                        <td width="196" class="form_text">Bicycling</td>
                    </tr>
                    <tr>
                        <td width="30"><input name="Walking" type="checkbox" id="Walking" value="Walking" /></td>
                        <td width="177" class="form_text">Walking</td>
                        <td width="30" class="form_text"><input name="Swimming" type="checkbox" id="Swimming" value="Swimming" /></td>
                        <td width="161" class="form_text">Swimming</td>
                        <td width="30" class="form_text"><input name="Supplements" type="checkbox" id="Supplements" value="Supplements" /></td>
                        <td width="196" class="form_text">Supplements</td>
                    </tr>

                    <tr>
                        <td width="30"><input name="Pilates" type="checkbox" id="Pilates" value="Pilates" /></td>
                        <td width="177" class="form_text">Pilates</td>
                        <td width="30" class="form_text"><input name="Aerobics" type="checkbox" id="Swimming7" value="Aerobics" /></td>
                        <td width="161" class="form_text">Aerobics</td>
                        <td width="30" class="form_text"><input name="Vitamins" type="checkbox" id="Vitamins" value="Vitamins" /></td>
                        <td width="196" class="form_text">Vitamins</td>
                    </tr>
                    <tr>
                        <td><input name="Yoga" type="checkbox" id="Yoga" value="Yoga" /></td>
                        <td class="form_text">Yoga</td>
                        <td class="form_text"><input name="Weight_loss" type="checkbox" id="Aerobics" value="Weight_loss" /></td>
                        <td class="form_text">Weight loss</td>
                        <td class="form_text">&nbsp;</td>
                        <td class="form_text">&nbsp;</td>
                    </tr>
                </table>                       </td>
        </tr>
        <tr>
            <td width="345" valign="top"><p class="field_name">How often do you participate
                                             in this fitness activity?</p>
                <p>
                    <select name="How_often" id="How_often">
                        <option selected>Select</option>
                        <option value="Once a week">Once a week</option>
                        <option value="Twice a week">Twice a week</option>
                        <option value="3 times a week">3 times a week</option>
                        <option value="4 times a week">4 times a week</option>
                        <option value="5 times a week">5 times a week</option>
                        <option value="6 times a week">6 times a week</option>
                        <option value="7 times a week">7 times a week</option>
                        <option value="Once a month">Once a month</option>
                        <option value="Once every 3 months">Once every 3 months</option>
                        <option value="Rarely">Rarely</option>
                    </select>
                    <br>
                </p>                      </td>
        </tr>
        <tr>
            <td valign="top"><span class="field_name">Are you currently a member of a fitness facility?</span><br />
                <input type="radio" name="facility_member" value="Yes" />
                <span class="form_text">Yes</span><br />
                <input type="radio" name="facility_member" value="No" />
                <span class="form_text">No</span></td>
        </tr>
        <tr>
            <td valign="top"><span class="field_name">Are you currently
                                 a member of a weight loss program?</span><br />
                <input type="radio" name="facility_member" value="Yes" />
                <span class="form_text">Yes</span><br />
                <input type="radio" name="facility_member" value="No" />
                <span class="form_text">No</span></td>
        </tr>
        <tr>
            <td height="80" valign="top"><table width="350" border="0" cellspacing="0" cellpadding="0">
                                             <tr>
                                                 <td colspan="3" class="field_name"><span class="field_name">Do
                                                                                        you prefer to exercise at:</span></td>
                                             </tr>
                                             <tr>
                                                 <td width="93" class="form_text">Home</td>
                                                 <td width="60"><input type="radio" name="Prefer_Home" value="Yes">
                                                                <span class="form_text">Yes</span>                          </td>
                                                 <td width="197" class="form_text"><input type="radio" name="Prefer_Home" value="No">
                                                                                   No                          </td>
                                             </tr>
                                             <tr>
                                                 <td class="form_text">Fitness Facility</td>
                                                 <td><input type="radio" name="prefer_fitness_facility" value="Yes">
                                                     <span class="form_text">Yes</span></td>
                                                 <td class="form_text"><input type="radio" name="prefer_fitness_facility" value="No">
                                                                       No</td>
                                             </tr>
                                         </table></td>
        </tr>
        <tr>
            <td valign="top">
                <table width="303" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td colspan="2" class="field_name">Do you currently
                            own:</td>
                    </tr>
                    <tr>
                        <td width="34"><input type="radio" name="currently_own" value="Fitness equipment">                          </td>
                        <td width="282" class="form_text"> Fitness equipment</td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="currently_own" value="Instructional exercise videos">                          </td>
                        <td class="form_text">Instructional exercise videos</td>
                    </tr>
                    <tr>
                        <td><input type="radio" name="currently_own" value="Fitness magazines">                          </td>
                        <td class="form_text">Fitness magazines</td>
                    </tr>
                </table>                    </td>
        </tr>
        <tr>
            <td valign="top"><table width="304" border="0" cellspacing="0" cellpadding="0">
                                 <tr>
                                     <td colspan="2" class="field_name">Are you currently
                                         taking:</td>
                                 </tr>
                                 <tr>
                                     <td width="34"><input type="radio" name="currently_taking" value="Nutritional supplements" />                        </td>
                                     <td width="270" class="form_text">Nutritional supplements</td>
                                 </tr>
                                 <tr>
                                     <td><input type="radio" name="currently_taking" value="Vitamins" />                        </td>
                                     <td class="form_text">Vitamins</td>
                                 </tr>
                                 <tr>
                                     <td><input type="radio" name="currently_taking" value="Both" />                        </td>
                                     <td class="form_text">Both</td>
                                 </tr>
                             </table>                    </td>
        </tr>
    </table>
            <button class="right nav-btn-green">SUBMIT SURVEY</button>
    <button class="right nav-btn-light">SKIP SURVEY</button>

 </div>


		<ul class="surveydisplay">    
		<li>	<table width="650" border="0" cellspacing="0" cellpadding="5">
			                  <tr>
			                    <td valign="top"><span class="field_name">Please tell us which of the outdoor activities you 

			are involved in:</span>
			                        <table width="650" border="0">
			                          <tr>
			                            <td width="30">
			                              <input name="Nautilus" type="checkbox" id="Nautilus" value="Nautilus" /></td>
			                            <td width="177" class="form_text">Nautilus</td>
			                            <td width="30"><input name="Fitness_Training" type="checkbox" id="Fitness_Training" value="Fitness_Training" /></td>
			                            <td width="161" class="form_text">Fitness Training</td>
			                            <td width="30"><input name="Dance" type="checkbox" id="Dance" value="Dance" /></td>
			                            <td width="196" class="form_text">Dance</td>
			                          </tr>
			                          <tr>
			                            <td width="30"><input name="Free_Weights" type="checkbox" id="Free_Weights" value="Free_Weights" /></td>
			                            <td width="177" class="form_text">Free Weights</td>
			                            <td width="30" class="form_text"><input name="Tennis" type="checkbox" id="Tennis" value="Tennis" /></td>
			                            <td width="161" class="form_text">Tennis</td>
			                            <td width="30" class="form_text"><input name="Racquetball" type="checkbox" id="Racquetball" value="Racquetball" /></td>
			                            <td width="196" class="form_text">Racquetball</td>
			                          </tr>
			                          <tr>
			                            <td width="30"><input name="Running" type="checkbox" id="Running" value="Running" /></td>
			                            <td width="177" class="form_text">Running</td>
			                            <td width="30" class="form_text"><input name="Golf" type="checkbox" id="Golf" value="Golf" /></td>
			                            <td width="161" class="form_text">Golf</td>
			                            <td width="30" class="form_text"><input name="Bicycling" type="checkbox" id="Bicycling" value="Bicycling" /></td>
			                            <td width="196" class="form_text">Bicycling</td>
			                          </tr>
			                          <tr>
			                            <td width="30"><input name="Walking" type="checkbox" id="Walking" value="Walking" /></td>
			                            <td width="177" class="form_text">Walking</td>
			                            <td width="30" class="form_text"><input name="Swimming" type="checkbox" id="Swimming" value="Swimming" /></td>
			                            <td width="161" class="form_text">Swimming</td>
			                            <td width="30" class="form_text"><input name="Supplements" type="checkbox" id="Supplements" value="Supplements" /></td>
			                            <td width="196" class="form_text">Supplements</td>
			                          </tr>

			                          <tr>
			                            <td width="30"><input name="Pilates" type="checkbox" id="Pilates" value="Pilates" /></td>
			                            <td width="177" class="form_text">Pilates</td>
			                            <td width="30" class="form_text"><input name="Aerobics" type="checkbox" id="Swimming7" value="Aerobics" /></td>
			                            <td width="161" class="form_text">Aerobics</td>
			                            <td width="30" class="form_text"><input name="Vitamins" type="checkbox" id="Vitamins" value="Vitamins" /></td>
			                            <td width="196" class="form_text">Vitamins</td>
			                          </tr>
			                          <tr>
			                            <td><input name="Yoga" type="checkbox" id="Yoga" value="Yoga" /></td>
			                            <td class="form_text">Yoga</td>
			                            <td class="form_text"><input name="Weight_loss" type="checkbox" id="Aerobics" value="Weight_loss" /></td>
			                            <td class="form_text">Weight loss</td>
			                            <td class="form_text">&nbsp;</td>
			                            <td class="form_text">&nbsp;</td>
			                          </tr>
			                        </table>                       </td>
			                    </tr>
			                  <tr>
			                    <td width="345" valign="top"><p class="field_name">How often do you participate
			                        in this fitness activity?</p>
			                      <p>
			                        <select name="How_often" id="How_often">
			                        <option selected>Select</option>
			                        <option value="Once a week">Once a week</option>
			                        <option value="Twice a week">Twice a week</option>
			                        <option value="3 times a week">3 times a week</option>
			                        <option value="4 times a week">4 times a week</option>
			                        <option value="5 times a week">5 times a week</option>
			                        <option value="6 times a week">6 times a week</option>
			                        <option value="7 times a week">7 times a week</option>
			                        <option value="Once a month">Once a month</option>
			                        <option value="Once every 3 months">Once every 3 months</option>
			                        <option value="Rarely">Rarely</option>
			                        </select>
			                        <br>
			                        </p>                      </td>
			                    </tr>
			                  <tr>
			                    <td valign="top"><span class="field_name">Are you currently a member of a fitness facility?</span><br />
			                            <input type="radio" name="facility_member" value="Yes" />
			                            <span class="form_text">Yes</span><br />
			                            <input type="radio" name="facility_member" value="No" />
			                            <span class="form_text">No</span></td>
			                  </tr>
			                  <tr>
			                    <td valign="top"><span class="field_name">Are you currently
			                        a member of a weight loss program?</span><br />
			                            <input type="radio" name="facility_member" value="Yes" />
			                            <span class="form_text">Yes</span><br />
			                            <input type="radio" name="facility_member" value="No" />
			                            <span class="form_text">No</span></td>
			                  </tr>
			                  <tr>
			                    <td height="80" valign="top"><table width="350" border="0" cellspacing="0" cellpadding="0">
			                        <tr>
			                          <td colspan="3" class="field_name"><span class="field_name">Do
			                              you prefer to exercise at:</span></td>
			                        </tr>
			                        <tr>
			                          <td width="93" class="form_text">Home</td>
			                          <td width="60"><input type="radio" name="Prefer_Home" value="Yes">
			                            <span class="form_text">Yes</span>                          </td>
			                          <td width="197" class="form_text"><input type="radio" name="Prefer_Home" value="No">
			                            No                          </td>
			                        </tr>
			                        <tr>
			                          <td class="form_text">Fitness Facility</td>
			                          <td><input type="radio" name="prefer_fitness_facility" value="Yes">
			                            <span class="form_text">Yes</span></td>
			                          <td class="form_text"><input type="radio" name="prefer_fitness_facility" value="No">
			                            No</td>
			                        </tr>
			                      </table></td>
			                    </tr>
			                  <tr>
			                    <td valign="top">
			<table width="303" border="0" cellspacing="0" cellpadding="0">
			                        <tr>
			                          <td colspan="2" class="field_name">Do you currently
			                              own:</td>
			                        </tr>
			                        <tr>
			                          <td width="34"><input type="radio" name="currently_own" value="Fitness equipment">                          </td>
			                          <td width="282" class="form_text"> Fitness equipment</td>
			                          </tr>
			                        <tr>
			                          <td><input type="radio" name="currently_own" value="Instructional exercise videos">                          </td>
			                          <td class="form_text">Instructional exercise videos</td>
			                          </tr>
			                        <tr>
			                          <td><input type="radio" name="currently_own" value="Fitness magazines">                          </td>
			                          <td class="form_text">Fitness magazines</td>
			                          </tr>
			                      </table>                    </td>
			                    </tr>
			                  <tr>
			                    <td valign="top"><table width="304" border="0" cellspacing="0" cellpadding="0">
			                      <tr>
			                        <td colspan="2" class="field_name">Are you currently
			                          taking:</td>
			                      </tr>
			                      <tr>
			                        <td width="34"><input type="radio" name="currently_taking" value="Nutritional supplements" />                        </td>
			                        <td width="270" class="form_text">Nutritional supplements</td>
			                      </tr>
			                      <tr>
			                        <td><input type="radio" name="currently_taking" value="Vitamins" />                        </td>
			                        <td class="form_text">Vitamins</td>
			                      </tr>
			                      <tr>
			                        <td><input type="radio" name="currently_taking" value="Both" />                        </td>
			                        <td class="form_text">Both</td>
			                      </tr>
			                    </table>                    </td>
			                  </tr>
			                </table></li>      
            <li class="right">
            <button class="nav-btn-light">SKIP</button>
            <button class="nav-btn-green">CONTINUE</button>
   </li></ul>
*@
