<!DOCTYPE HTML>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="author" content="Author Name" />
    <title>Index</title>
    <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Carrois+Gothic' rel='stylesheet' type='text/css'>
    <link href="css/reset.css" rel="stylesheet" />
    <link href="css/font.css" rel="stylesheet" />
    <link href="css/layout.css" rel="stylesheet" />
</head>
<body>
    <div class="wrapper-large height-large">
        <div class="title">Program Details</div> [this is a popup from SP100-0]
        <div class="col-fifty">
            <label class="large-txt">
                Title:
                <span>
                    Liveo Beach Diet
                </span>
            </label>  

            <label class="large-txt">
                Description:
                <span>
                    The Liveo Beach Diet will help you reach your weight-loss goals with our interactive tools, products, delicious recipes, expert advice, and community support. Unlock the keys to success and discover a healthier new you today!
                </span>
            </label>
           
        </div>
        <div class="col-fourty">
            
        </div>
        <div class="clear"></div>
        <div class="row-main-margin-btm">
            <div class="col-hundred">
                <label class="left">Cycles:</label>

            </div>
            <div class="modal-max-large-row scroll-window">
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="images/nutrition1.jpg" height="100px" width="100px" />
                    </div>
                    <div class="col-sixty">
                        <span class="med-font-bld">Nutrition</span><span class="med-font">(Weeks 1-6)</span><br />
                        <hr />
                        Liveo Ultimate Eating Adventure is designed to delight your culinary senses while watching your pounds melt away. This is here to offer you the ultimate fat burning program.        
                    </div>
                  
                    <div class="clear"></div>
                </div>
               
              
            
                <div class="border-1">
                    <div class="col-fifteen">
                        <img src="images/profile-pic.jpg" height="100px" width="100px" />
                    </div>
                    <div class="col-sixty">
                        <span class="med-font-bld">Base Strength</span><span class="med-font">(Weeks 4-6)</span><br />
                        <hr />
                        Basic strength training to supplement the liveo beach diet.
                       
                    </div>
                    <div class="col-twenty txt-right">
                      
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
                <div class="right">
            <button class="nav-btn-light">CANCEL</button>
   
        </div>
    </div>
</body>
</html>

