@{
    Script.Require("jQuery").AtHead();
    Script.Require("kendo").AtHead();
    Style.Require("jQueryUI_Orchard");
    Style.Require("kendo.common");
    Style.Require("kendo.metro");
    Style.Require("reset");
    Style.Require("font");
    Style.Require("layout");
}

<div class="wrapper-large height-large">
    <div>
        <button class="segment-small-status-light col-third">Select A Program</button>
        <!--  <button class="segment-small-status-light col-third">Exercise Library</button>
            <button class="segment-small-status-light col-third">Meal Library</button>-->
    </div>
    <div class="clear"></div>

    <div class="row-main-margin-btm">
        <div class="modal-max-huge-row scroll-window">
            <div class="border-1">
                <div class="col-fifteen">
                    <img src="images/g10albumsvacation2.png" height="100px" width="100px" />
                </div>
                <div class="col-sixty">
                    <span class="med-font-bld">Liveo Beach Diet</span><span class="med-font"></span><br />
                    <hr />
                    Liveo Beach Weight Loss Program To lose weight in an eight-week timeframe.
                       
                </div>
                <div class="right modal-max-tiny-row margin-top-ten">
                    <a>Select</a> | <a>Details</a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="border-1">
                <div class="col-fifteen">
                    <img src="images/plan_pic.jpg" height="100px" width="100px" />
                </div>
                <div class="col-sixty">
                    <span class="med-font-bld">Larry North Blood Pressure</span><span class="med-font"></span><br />
                    <hr />
                    Larry North's proven program to help reduce blood pressure.
                       
                </div>
                <div class="right modal-max-tiny-row margin-top-ten">
                    <a>Select</a> | <a>Details</a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="border-1">
                <div class="col-fifteen">
                    <img src="images/g10albumsgym3.png" height="100px" width="100px" />
                </div>
                <div class="col-sixty">
                    <span class="med-font-bld">Gold's Gym Bulk-up</span><span class="med-font"></span><br />
                    <hr />
                    A program for the serious body-builder.
                       
                </div>
                <div class="right modal-max-tiny-row margin-top-ten">
                    <a>Select</a> | <a>Details</a>
                </div>
                <div class="clear"></div>
            </div>
            <div class="border-1">
                <div class="col-fifteen">
                    <img src="images/carinos.png" height="100px" width="100px" />
                </div>
                <div class="col-sixty">
                    <span class="med-font-bld">Johnny Carino Heart Healthy</span><span class="med-font"></span><br />
                    <hr />
                    Johnny Carino's world-famous diets and recipies to increase heart health.
                       
                </div>
                <div class="right modal-max-tiny-row margin-top-ten">
                    <a>Select</a> | <a>Details</a>
                </div>
                <div class="clear"></div>
            </div>


        </div>
        <a href="/HealthPlan">Finalize</a>
    </div>
</div>
