@{
    ViewBag.Title = "pvST30";
}
<!--------------------------------------------------------- BEGIN _ST30_ -------------------------------------------------------------->
<div link="ST30" class="panel invisible">
    <a link="ST30_link" rel="[link='ST30']" style=""></a>
    <h2>@ViewBag.Title_ST30 - Media Input</h2>
    <br />
    <br />

    <p>
        - Media input will be an input element with type="file". The input will be wrapped inside of a &lt;span&gt;, and then all wrapped inside of a &lt;label&gt; element: 
        
        <br />
        <br />

        <b>&lt;label&gt;
            [label]:
            &lt;span&gt;&lt;input type=&quot;file&quot; /&gt;&lt;/span&gt;
            &lt;/label&gt;
        </b>

        <br />
        <br />

        <b><em>EXAMPLE:</em></b>

        <br />

        <label>
            Photo:
            <span>
                <input type="file" /></span>
        </label>
    </p>
</div>
<!--------------------------------------------------------- END _ST30_ -------------------------------------------------------------->