@{
    ViewBag.Title = "pvST60-10";
}
<!--------------------------------------------------------- BEGIN _ST60_10 -------------------------------------------------------------->
<div link="ST60-10" class="panel invisible">
    <a link="ST60-10_link" rel="[link='ST60-10']" style=""></a>
    <h2>@ViewBag.Title_ST60_10 - Model Detail</h2>
    <br />
    <br />

    <div  class="wrapper-small popupwindow">

        <div data-model="vmSampleModel">
        <p>
            First Name: <strong data-bind="text:$root.editedSampleModel().FirstName"></strong> <br />
            Last Name: <strong data-bind="text:$root.editedSampleModel().LastName"></strong> <br />
            Phone: <strong data-bind="text:$root.editedSampleModel().Phone"></strong> <br />
            Address: <strong data-bind="text:$root.editedSampleModel().Address"></strong> <br />

            <br />
            <button link="modalcancelbutton" class="small-nav-btn-light">Ok</button>
        </p>
        </div>
    </div>
</div>
<!--------------------------------------------------------- END _ST60_10 -------------------------------------------------------------->