@{
    ViewBag.Title = "pvST10-10";
}

<!--------------------------------------------------------- BEGIN _ST10_10 -------------------------------------------------------------->
<div link="ST10-10" class="panel invisible">
    <a link="ST10-10_link" rel="[link='ST10-10']" style=""></a>
    <h2>@ViewBag.Title_ST10_10 - Popup window</h2>
    <br />
    <br />

    <div class="wrapper-small popupwindow">
        <h3>This is a popup form [using "popupwindow" class to denote popup for now]</h3>

        <br />
        <br />

        <p>
            [Body here]
        </p>

        <p>
            <button link="modalcancelbutton" class="small-nav-btn-light">Cancel</button>
            <button link="modalcancelbutton" class="small-nav-btn-light">Ok</button>
        </p>
    </div>
</div>
<!--------------------------------------------------------- END _ST10_10 -------------------------------------------------------------->