@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {

        });
    </script>
}

<div>
    <h1>Larry North</h1>
    <p>Affiliate landing page for a user that belongs to an affiliate</p>
    <ul>
        <li>
            <a href="/Liveo.Platform/Affiliate/Program">Programs</a>
        </li>
    </ul>
</div>
