
@{
    ViewBag.Title = "A100-25_NO_HTML_PRESENT";
}


<div link="A100-25" class="panel invisible">
    <a   link="A100-25_link" rel="[link='A100-25']" style=""></a>
    @ViewBag.Title_A100_25
</div>