@{
    ViewBag.Title = "HP100-10";
}

<div link="HP100-10" class="panel invisible">
    <a   link="HP100-10_link" rel="[link='HP100-10']" style=""></a>
    @ViewBag.Title_HP100_10

    <div class="wrapper-small border-1 whiteback">

        <div class="title">UPDATE HEALTH STATUS</div>

        <div class="col-fifty">
            <label class="small-txt">
                HEIGHT:
            <span>
                <input type="text" />
            </span>
            </label>
        </div>
        <div class="col-fourty">
            <label class="small-txt">
                WEIGHT:
            <span>
                <input type="text" />
            </span>
            </label>
        </div>

        <div class="col-fifty">
            <label class="small-txt">
                WAIST<br />
                CIRCUMFERENCE:
            <span>
                <input type="text" />
            </span>
            </label>
        </div>
        <div class="col-fourty">
            <label class="small-txt">
                HIP CIRCUMFERENCE:
            <span>
                <input type="text" />
            </span>
            </label>
        </div>

        <div class="col-fifty">
            <labell class="small-txt">
                BLOOD PRESSURE:
            <span>
                <input type="text" />
            </span>
            </label>
        </div>
        <div class="col-fourty">
            <label class="small-txt">
                BLOOD GLUCOSE:
            <span>
                <input type="text" />
            </span>
            </label>
        </div>

        <div class="col-fifty">
            <label class="small-txt">
                BMI:
            <span>
                <input type="text" />
            </span>
            </label>
        </div>
        <div class="col-fourty">
            <label class="small-txt">
                BMR:
            <span>
                <input type="text" />
            </span>
            </label>
        </div>


        <div class="col-fifty">
            <label class="small-txt">
                Pulse:
            <span>
                <input type="text" />
            </span>
            </label>
        </div>
        <div class="clear"></div>
        <div class="right">
            <button link="modalcancelbutton" class="nav-btn-light">CANCEL</button>
            <button link="modalokbutton" class="nav-btn-green">SAVE</button>
        </div>

    </div>
</div>
