@using Kendo.Mvc.UI
@{
    Script.Require("jQuery").AtHead();
    Script.Require("kendo").AtHead();
    Style.Require("jQueryUI_Orchard");
    Style.Require("kendo.common");
    Style.Require("kendo.metro");
    
}
<div>This is the user main page right after login.</div>