@{
	var ImgPath = Url.Content("~/Themes/Liveohhh/Content/Images/");
}


<div class="wrap" style="height:550px;">

<div id="content-float-left">
<img src="@(ImgPath + "WhyLiveo/pg2 pic1.png")">
</div>
<div  id="content-sub-text-main">
<div id="content-sub-head">
<div id="content-header">THERE’S NEVER BEEN A BETTER TIME</div>
<div id="content-sub-header">for LIVEO Corporate Wellness.</div>

</div>
Consistently rising healthcare costs and epidemic obesity make successful corporate wellness programs more 
important than ever. LIVEO Corporate Wellness reduces risk factors and overall claims with leading-edge, 
cloud-based technology that engages employees by bringing exclusive content, tracking capabilities and social 
connectivity together in one time-saving place, encouraging adoption and consistency while reducing excuses.
<br>
When employees can more easily connect to their wellness goals, they are more likely to adopt a program into their daily routine. That’s why LIVEO Corporate Wellness puts everything necessary to succeed in one time-saving place–a single source for managing and maintaining a healthy lifestyle–one that makes participation easy, 
even for remote employees or frequent travelers.
<br>
	<dt>> The most comprehensive range of health resources and tools for any level of fitness–not narrowly 
	  focused on particular dimensions or features</dt>
	<dt>> The ability to create a higher level of employee involvement and on-going engagement</dt>
		<dd>> Live-streaming and interactive features</dd>
		<dd>> Advanced tracking capabilities and integration with existing devices and apps</dd>
</div>

</div>
