@{
	var ImgPath = Url.Content("~/Themes/Liveohhh/Content/Images/");
}




<div class="wrap" style="height:441px;">

<div  id="content-sub-text-main">
<div id="content-sub-head">
<div id="content-header">WHEN YOUR WORKFORCE IS HEALTHY,</div>
<div id="content-sub-header">so is your company.</div>
</div>
Increased employee productivity and controlled healthcare costs –— essential goals of every corporate wellness 
program. To get there, you need to engage, motivate and sustain employee participation. To get there, you need
LIVEO Corporate Wellness.
<br><br>
LIVEO’s interactive health and fitness network enables employees to become more aware and accountable for 
their day-to-day health through anywhere, anytime access to the most comprehensive range of fitness, nutrition 
and health resources and expertise. 
<br><br>
Our live and interactive content (links to Content), integrated trackers (links to Capabilities) and supportive social 
community (links to Connectivity) help get your entire employee base involved in your wellness efforts, and keep 
them involved, while management and reporting capabilities make it easy for you to organize events and monitor 
real results.
<br><br>
LIVEO Corporate Wellness helps you educate, engage and motivate your employees to improved health and 
well-being, ultimately reducing health risk factors and claims to better control healthcare costs for your organization.
</div>

<div id="content-float-right">
<img src="@(ImgPath + "LiveoHome/pic1.png")">
</div>


</div>
